[2021-02-07 08:40] azizamohamedabdelsalam opened #1 "Should l have a reference to my commits, so I could rollback to it if i do a lot of works and get confused"
While you described the hierarchy of commits and relations between them my question is Should l have a reference to my commits,?
So I could roll back to it if I do a lot of works and get confused.

[2021-02-07 22:10] AhmedYousseff commented on #1
Hello Aziza Mohamed; if  I may answer your question.
commit is a complete history of you application in specific time, so commit itself is a reference you could **rollback** to it at

if you have a ticket that required a lot of work divide this ticket int multiple sub-ticket each sub-ticket is related to specific topic or problem, and after you finish this sub-ticket commit the benefit of doing
1

[2021-02-08 15:11] azizamohamedabdelsalam commented on #1
Thank you , got it

[2021-02-10 20:04] ReemRashwan opened #2 "Any rules for writing our questions?"
- هل فيه صيغة معينة لكتابة أسئلتنا؟
- إزاي نسأل أسئلة كويسة؟
- نكتب بالعربي ولا بالإنجليزي ولا ما فيش فرق؟

[2021-02-10 20:40] MohamedRadwan-DevOps commented on #2
This is a good question!
Use Egnlish only, please.
Try to follow the following guidelines and we will speak about it next session:

![image](https://user-images.githubusercontent.com/14263956/107569124-da57d380-6bdf-11eb-9d6f-1b35ef66591c.png)

![image](https://user-images.githubusercontent.com/14263956/107569138-dfb51e00-6bdf-11eb-85ef-9985c7345162.png)

![image](https://user-images.githubusercon

[2021-02-10 20:40] #2 closed

[2021-02-18 11:27] basmaelgamal opened #3 "time problem"
انا  عندى  مشكلة فى  يوم  الخميس  هل  فى امكانية  اختيار  يوم  تانى

[2021-02-18 13:04] #3 closed

[2021-02-18 15:08] ReemRashwan opened #4 "Missing Invitation Link for The 2nd Technical Session"
I checked my email for an invitation link for the second technical session several times but I could not find any, and I believe that it should have been sent already. I got the first session link, which means that I shouldn't register again.

What should I do to ensure that I am involved in the technical sessions mailing list?

[2021-02-18 15:16] MohamedRadwan-DevOps commented on #4
@ReemRashwan, this is weird! Please reply to the first invitation email not the mailing list and I will investigate the case.

[2021-02-18 15:38] MohamedRadwan-DevOps commented on #4
@ReemRashwan Yes, I couldn't find your email in the email list but I have added you and you should now receive every future invitation.
If you or anyone else have the same issue, you should follow the same process and steps in this issue.

[2021-02-18 15:38] #4 closed

[2021-02-18 17:25] mona-cloud opened #5 "Time issue"
I have a problem with the session time. I can't attend the session on thursday . Can we change the day to wednesday or any day except  thursday & friday.
thank you

[2021-02-18 18:04] MohamedRadwan-DevOps commented on #3
@basmaelgamal would you please update the question following our guide?

[2021-02-19 08:34] MohamedRadwan-DevOps commented on #5
@mona-cloud  The survey result shows Thursday is the best day for most of the people who are attending however, I will include that in the next survey and if all people who choose Thursday are ok with other days.

[2021-02-19 08:34] #5 closed

[2021-02-19 08:36] MohamedRadwan-DevOps commented on #1
@AhmedYousseff Thank you for your effort in answering this question, I do appreciate it!

[2021-02-19 08:38] MohamedRadwan-DevOps commented on #1
@azizamohamedabdelsalam:
I have explained in the 2nd session the guidelines for questions or issues, please edit this issue and update it accordingly.

[2021-02-19 08:42] MohamedRadwan-DevOps commented on #3
@basmaelgamal I have explained in the 2nd session the guidelines for questions or issues, also you can find more info here #2
Also, this issue now is repeated so I will delete it after your feedback, the similar issue is #5

[2021-02-19 08:43] MohamedRadwan-DevOps commented on #1
@azizamohamedabdelsalam another point, you can review the guidelines here #2

[2021-02-19 22:09] MohamedRadwan-DevOps commented on #1
To answer this question,  the answer is no, you should not do that, good comment for your commit should be enough.
Usually, you create this reference using tags, see how to do that in 2nd session [by clicking here,](https://youtu.be/ci8c0GIqTDo?t=2285) also while I don't recommend creating tags without a major change like version but you still can do that in your feature branch and delete them bef

[2021-02-19 22:16] MohamedRadwan-DevOps commented on #2
The guidelines for how to ask a good question explained very well in the 2nd session, [click here](https://youtu.be/ci8c0GIqTDo?t=861) to review.

[2021-02-22 11:57] melqassas commented on #2
### Hello everyone,
I would like to share the below guidelines that would help you to ask good questions and receive a specific and relevant answer:

![Qna](https://user-images.githubusercontent.com/49816567/108703229-6260a600-751b-11eb-8e09-bbcb017affe2.png)

![Qna1](https://user-images.githubusercontent.com/49816567/108705334-385cb300-751e-11eb-8abd-ad4fb52b5686.png)

![Qna3](https://user-images

[2021-03-16 16:57] elsamoheg opened #6 "An Opinion on Priorities - Process vs Tools"
السلام عليكم

تحياتي وشكري الكبير للاستاذ محمد رضوان على هذه المبادرة الجميلة لتعليم الشباب العربي ونقل اساليب العمل في الشركات الكبيرة اليهم واتمنى من الخبراء العرب في كل مجال ان يحذوا حذوه. فهمت أن ا/ محمد رضوان سيتجه الى شرح Continuous Integration  وهذا موضوع مفيد ومهم ولكن لدي اقتراحا قد يجعل هذه السلسة الجميلة اكثر فائدة وهو الحديث اولا عن اجراءات العمل Process التي يجب ان يتبعها فريق العمل و

[2021-03-18 10:21] MohamedRadwan-DevOps commented on #6
Thank you @elsamoheg for your kind words.
Please allow me to reply in English, so I can explain much better.

- I am not sure if you saw session 2 but I already discussed this point, here it's, you can click on the following link and you will hear my answer to this part ([click here](https://youtu.be/ci8c0GIqTDo?t=2298))

I usually say that everything in DevOps is like a circle and a puzzle, why?

[2021-03-18 10:21] #6 closed

[2021-03-18 10:26] #1 closed

[2021-03-29 08:45] Tect-Arct commented on #2
Please guide me how to migrate the Weblogic app container to Tomcat, and then build ci/cd using azure devops for deploying the Azure App Service.

[2021-03-30 05:50] Diablo2050 commented on #2
@Tect-Arct  I believe your question can be better answered if asked in a group on social media or a forum of some kind so that others might help guide you based on where your issue is exactly in your description however if you haven't attempted it and don't know where to start i would advise you to research a bit.

[2021-04-02 20:15] elsamoheg opened #7 "Agility vs Chaos"
Thank you very much for session 4. I liked your point that there is a fine line between agility and chaos. Could you please elaborate on how to prevent agility from turning into chaos? From your experience, what are the good practices we need to adopt within IT and in our relationship with the business to avoid chaos as a result of Agile?

[2021-04-05 14:22] MohamedRadwan-DevOps commented on #7
@elsamoheg no problem.
Good question, I can try to put one-word "Experience"
Empowering or encouraging the experiment, Kaizen (Continuous Improvement), and measuring technical debt across all areas.
So, long story short, it's just a matter of experience. There are no right practices but differently, there are wrong and you will know that by time and experience.

[2021-04-05 14:22] #7 closed

[2021-04-05 22:44] elsamoheg opened #8 "UI Test Automation for New Software - When to Automate?"
I listened to your talk about testing and I have a question please. If a development team starts developing a new application for a company, does it make sense to automate UI testing from the beginning while the UI is still being built for the first time and never used by any end users yet? Or is it better to do manual testing initially until we release at least version 1 and the software gets use

[2021-04-06 14:09] MohamedRadwan-DevOps commented on #8
@elsamoheg
This is also a good question.
First of all, please remember that there are many other variables in this kind of question like the exact methodology, the branch and merge, the release strategy, and many others, and any variables change, it may change the answer. So, don't take my answer as yes or no. It's always based on the actual situation.

In general, no. We usually dealy the UI test

[2021-04-06 14:09] #8 closed

[2021-04-07 10:25] elsamoheg opened #9 "Designing the DevOps Transformation"
Hello, If we want to transform a traditional IT department to a modern DevOps-based IT department, how do we choose the scope and sequence of the changes we need to make? Could you please share your experience in analyzing the current situation of an organization and coming up with what needs to be done?
Thanks a lot,,,

[2021-04-15 16:28] MohamedRadwan-DevOps commented on #9
There are many ways, what usually happens is doing or conducting a gap analysis which indicates where is the company and where you want to be.
Based on the gap analysis, we will have a backlog that includes our gap analysis result break down into PBIs (Product Backlog Items) and we start to implement and increasing the scope over time.
Try to read more about Responsive organization.

[2021-04-15 16:28] #9 closed

[2021-04-15 23:57] elsamoheg commented on #9
Thank you. I checked the idea of "responsive organization" and found some good videos and articles. Can you please elaborate on the gap analysis as this is the key point in the question? For example, is there a checklist or a methodology to use in the gap analysis?
Thanks a gain,,,

[2021-05-10 09:47] Mohandhesham opened #10 "If I want to work in the field of programming and computer science. It is better to enter an engineering college department of computers or a college of computers and information, and it is easier to travel outside Egypt if I am entering a college of engineering or a college of computers and information"

[2021-05-10 10:27] tamersolieman commented on #10
Please @Mohandhesham read this issue first https://github.com/MohamedRadwan-DevOps/DevOps-step-by-step-arabic/issues/2 then ask your question,
We've got five emails from this issue till now :)

[2021-06-13 23:53] usama-kabel opened #11 "How to make 2 remote repo for 1 local repo?"
##Issue explanation:
- We have an external team working on creating or modifying the code and using a bitbucket as a remote repo and used the repo to create a public demo to demonstrate the solution
- We have an internal team working on verifying the solution and deploy the solution in complete isolation local server (no internet access - no interaction with any external servers)

So, I create a l

[2021-06-15 10:17] usama-kabel commented on #11
@MohamedRadwan-DevOps could you please help me in this case?

[2022-01-08 13:23] am847 commented on #10
لو انا مهندس مدني وعايز اسيب المجال وادخل مجال الديف ..ينفع اخد الكورس ولا.لازم يكون عندي معرفة بمجال البرمجه ؟ولو لازم اعمل ايه

[2022-01-10 13:29] AhmadAlhamwi opened #13 "DevOps course"

[2022-01-10 13:29] #13 closed

[2022-01-12 03:56] Elmasry22 commented on #10
Hi dear

please check this link and you can find everything you need to know about DevOps Course

https://github.com/MohamedRadwan-DevOps/DevOps-step-by-step-arabic/blob/main/none-community/devops-course-faq.md?fbclid=IwAR1mQ4gExwgGQQo_loiKlKgi0d-yVa9LNVJf0FyAhHPq7FYP3wn6wkPEBPM

[2022-01-12 04:19] Elmasry22 commented on #10
Hi guys ,

I would know if OS of should be Windows 10 Professional is must or it's ok if i have windows 11 and of course x64
Thanks in advance

[2022-01-12 19:34] Kareem4006 commented on #10
البشمهندس كاتب متطلبات الكورس في الصفحه ده وده اللينك الخاص بيها
https://github.com/MohamedRadwan-DevOps/DevOps-step-by-step-arabic/blob/main/none-community/course-info-prerequisite.md

[2022-01-13 12:23] mohfathy0 opened #14 "I would love to learn and follow along however the schedule isn't always convenient"
Because not all of us are fresh graduates or students so dedicating a time slot out of our working hours isn't always possible at least for some of us due to some responsibilities like family or work having this fixed in my calendar could be a real challange yet I don't want to give up on learning hence I am raising my hand asking for suggestions,
Will recordings for your sessions be available on

[2022-01-13 15:06] ramyragab1 commented on #14
تسمحلي ارد علي السؤال لاني شوفت رد علي الموضوع دا من بشمهندس محمد رضوان
هوا قال ان الدورات هتكون مسجلة مسبقا بس لازم نحضر في الميعاد وان لو حد محتاج ياخد التسجيل هيدفع مبلغ تقريبا ٢٦٠ او ٣٦٠ جنية في الحدود دي

[2022-01-13 23:14] neveenhassan commented on #14
لسلام عليكم
انا سالت البشمهندس ينفع اخد تسجيل المحاضرات هو رد عليه انه يفضل ان الناس المشتركه كلها تحضر المحاضرات افضل و تلتزم في الميعاد المحدد  لتفعيل المشاركه علي
Github &stack overflow
لتعظيم الاستفاده من المحاضرات وهو كمان يفضل ان الناس تسال وتشارك في الحلول والبشمهندس
 يتابع معانا زي ما قال ويكون هو خط الدفاع الاخير
ويصحح لينا الحل بتاعنا في الاخر
هو عايز الناس تركز فى المحاضره وبعد المحاضره

[2022-01-13 23:17] mohfathy0 commented on #14
والله يا فندم فاهم الكلام ده و قريته و سمعته و عشان كده بسأل عن العكس لان وقتي و ظروفي لا تسمح بمواعيد ثابتة

[2022-01-13 23:19] neveenhassan commented on #14
تمام افتكرت مفيش عند حضرتك معلومه
شكرا لحضرتك

[2022-01-14 10:10] MohamedRadwan-DevOps commented on #14
اولا شكرا جزيلا ل
@neveenhassan
وكمان @ramyragab1 علي مشاركتكم وردكم، لأن التفاعل والرد ده حاجة مهمة جدا، وانا ببقي مبسوط جدا منها فبشكركم مرة تانية.

@mohfathy0

انا متفهم وجهة نظرك وبشكرك جدا علي اهتمامك وفعلا فيه اكتر من حد كلمني علي الموضوع ده، وأن شاء الله هيكون فيه حل علشان يغطي المشكلة ديه بس مش قريب، لأنها مش في أولوياتي حاليا.

شكرا مرة تانية.

[2022-01-14 10:49] mohfathy0 commented on #14
@MohamedRadwan-DevOps
متشكر جدا يا هندسه و في انتظار محاضراتك علي احر من الجمر لانها حتفرق معايا في شغلي كتير برغم ان من داخل الشركه ممكن احضر مع مدربين من مايكروسوفت بس كانت ليا تجربة غير موفقه معاهم للاسف مر عليا 4 محاضرين كان فيهم واحد بس اللي اشهد له بالخبرة سواء في الشرح او في الخبرة العملية.
و واضح جدا من خبرتك العملية و خبرتك في الشرح من اللي شفته علي قناتك علي اليوتيوب اللي لقيتها بالصدفة

[2022-01-15 05:31] MohamedRadwan-DevOps commented on #14
@mohfathy0
@ramyragab1
@neveenhassan

كمان عايز أوضح حاجة مهمة جدا، الكورس مش بس تكنيكل، ده كمان ازاي نبني ثقافة مجتمع تقني وقاعدة معرفة ونفيين ورامي كانوا ممتازين وكانوا بيحاولوا يساعدوا.
الرد علي مساعدتهم كان المفروض يبقي الشكر والثناء مش "ما انا عارف" ، ده حاجة غير مقبولة وغير لائقة في الكميونتي بتاعتنا، ده غير انها غير مفيدة وحولت الحوار انه يبقى جدلي واللي دفع نفيين انها تحاول تتأسف بشكل غير

[2022-01-15 08:51] mohfathy0 commented on #14
@ramyragab1  متشكر يا رامي علي اهتمامك
@neveenhassan لو كنت قليل الذوق بشكل غير مقصود فأنا بعتذر و شكرا علي محاولة المساعدة

[2022-01-15 09:49] neveenhassan commented on #14
@MohamedRadwan-DevOps متشكره جدا لحضرتك يابشمهندس وان شاء بتوجيه حضرتك نلتزم كلنا
 بادبيات النقاش و الحوار  اللي حضرتك قلت عليها
ونحقق دورنا اننا نساعد بعض علشان نستفيد من الكورس باذن الله
الف شكر مره تانيه

[2022-01-15 09:56] neveenhassan commented on #14
@mohfathy0 مش لدرجه قله الذوق العفو
اعتذار مقبول وان شاء الله يبقي فيه مشاركه بناءه بينا في الكورس ومبسوطه اني بتعرف عليكم ..شكرا جزيلا

[2022-01-15 10:39] MohamedRadwan-DevOps commented on #14
@mohfathy0
شكرا لذوقك وتفهمك وكمان شجاعتك.

@ramyragab1
@neveenhassan

انا عايزكم تتخيلوا من حوار بسيط حصل، كل اللي شارك في الحوار او كان بيتابعه؟!
اتعلم منه حاجة مهمة في ادبيات وثقافة النقاش بينا.
يعني لو ماكنش حد متابع؟
 هيبقي للأسف احنا الأربعة بس اللي عندنا المعلومة ديه، واللي هيكون دورنا ننقلها لبقية الناس، فكل ماكان فيه ناس بتابع وبتتافعل؟
هتتعلم وتنشر المعلومات والثقافة بينا وهكذا، وهو ده د

[2022-01-27 21:30] mahmoudelmekwed opened #15 "About credit card"
جماعة بعد اذنكم هو لازم الكريديت كارد يبقى باسمى

[2022-01-27 22:01] neveenhassan commented on #15
السلام عليكم
لا ماعتقدتش انه لازم يبقي باسمك هو المهم يكون كريدت كارت مش ديبت كارد  وفيه  فلوس بمبلغ 2400 جنيه لعمل الحساب المجاني علي الكلاود

[2022-01-27 22:14] Elsherif007 commented on #15
الكريدت للزم يبقى فيها اعتقد قيمه 1 دولار علشان بيتسحب الدولار ده لتأكيد ان
الكريدت شغاله.. مش لازم يبقى فيها مبلغ كبير ولا لازم تبقى باسمك .. بتعمل
بيها اللكونت وتاخد الفتره اللى مزود الخدمه بيقدمها والقيمه الماليه لمده سنه
على حسب مزود الخدمه

On Fri, 28 Jan 2022, 12:01 am NEVEEN ABD-EL AZZEM HASSAN, <
***@***.***> wrote:

[2022-01-28 14:45] MohamedRadwan-DevOps commented on #15
@Elsherif007 @neveenhassan  thank you so much!

[2022-01-28 14:45] #15 closed

[2022-01-28 14:47] MohamedRadwan-DevOps commented on #15
Here is the link for more info:
[How to get an Azure account without a credit card?](https://docs.microsoft.com/en-us/answers/questions/433827/how-to-get-an-azure-account-without-credit-card.html)

[2022-01-28 14:48] MohamedRadwan-DevOps commented on #14
Not a high priority.

[2022-01-28 14:48] #14 closed

[2022-01-28 14:49] MohamedRadwan-DevOps commented on #11
Outdated

[2022-01-28 14:49] #11 closed

[2022-01-28 14:51] MohamedRadwan-DevOps commented on #10
Bad formate

[2022-01-28 14:51] #10 closed

[2022-01-30 14:43] kerdasawy opened #16 "I am registered in course by my company what i will do?"
Hi there
I am Abdelrhamn ismail hegazy (Software team lead @ www.tmentors.com) (Email:Abdelrahman.Hegazy@tmentors.com)
My company registered me at this course via Ahmed ramy (Ahmed.Ramy@tmentors.com)
I am asking how and when to pay course fee,so Accounting department take the required actions.
Please give me a feed back at (Abdelrahman.Hegazy@tmentors.com) for question answer and any updates
thank

[2022-01-30 14:59] neveenhassan commented on #16
السلام عليكم
بالنسبه للمواعيد في جولتين
ستبدأ الجولة الأولى يوم الثلاثاء ١ فبراير ٢٠٢٢ الساعة الثامنة مساءً بتوقيت القاهرة
ستبدأ الجولة الثانية يوم الثلاثاء ٣ مايو٢٠٢٢ الساعة الثامنة مساءً بتوقيت القاهرة
س ٢٤: ماهو اخر موعد للتسجيل في الكورس؟

ج٢١: اخر موعد في اي دورة قبل البدء باسبوعين يستثني منها الدورة الأولي واللي هيكون اخر يوم للتسجيل ٢٨ يناير.
ده الكلام اللي البشمهندس كاتبه في اللينك ده
http

[2022-01-30 22:19] MohamedRadwan-DevOps commented on #16
@neveenhassan
شكرا جزيلا علي الرد التفصيلي 🙏

@kerdasawy
زي بالظبط ما شرحت م. نيفين.
كمان أحمد رامي كلمني وانا عرفته ان الدورة تعتبر بدأت وهتبقي متأخره عليك فاتفقنا انك  تكون الدورة الجاية ان شاء الله.

[2022-01-30 22:19] #16 closed

[2022-01-31 05:13] neveenhassan commented on #16
@MohamedRadwan-DevOps العفو يابشمهندس ربنا يكرمك

[2022-02-06 10:51] MohamedRadwan-DevOps commented on #14
@mohfathy0
Just to let you, I decided to offer the course as videos + 3 months free support in our Stackoverflow for a cost of 7500 Egyptian pounds.

[2022-03-04 19:43] melessawy opened #17 "Coding language"
What coding language is used in the course? I use mainly Python. Would that be ok?

[2022-03-04 20:57] AhmedSherbeeny commented on #17
We are using C# .net to learning the programming concept and SDLC

But for sure you can use Python or any other language

Mainly we need to learn how the development works what ever the technology

Best regards,

Ahmed Sherbeeny

On Fri, 4 Mar 2022 at 9:43 PM Mohammed ***@***.***> wrote:

[2022-03-05 00:34] MohamedRadwan-DevOps commented on #17
@AhmedSherbeeny  thanks!

[2022-03-05 00:35] #17 closed

[2022-03-05 10:52] kerdasawy opened #18 "أريد التسجيل في الكورس الذي سيبدأ في يوم الثلاثاء ٣ مايو٢٠٢٢ ماذا أفعل"
أريد التسجيل في الكورس الذي سيبدأ في يوم الثلاثاء ٣ مايو٢٠٢٢ ماذا أفعل

[2022-03-05 14:36] MohamedRadwan-DevOps commented on #18
@kerdasawy
تواصل معي علي ماسنجر علي الحساب التالي
https://www.facebook.com/mradwandevops

[2022-03-05 14:37] #18 closed

[2022-04-25 14:41] MohamedAbdElsalam10 opened #35 "asking about Linux"
hi eng mohamed
i hope you are fine, i just wanted to ask why Linux is not in the prerequisites, i see Linux and bash scripting are a must tools in all
devops roadmaps and recommendations, isn't Linux going to be used in the course ?

[2022-04-27 18:24] RehabAbotalep commented on #35
@MohamedAbdElsalam10  We are already going to add (Bash Scripting - Power Shell ) to the prerequisites.

[2022-04-27 18:37] #35 closed

[2022-05-07 15:50] abanoubma opened #39 "[DevOps course]- Is the registration open for the next batch? and when will it start?"

[2022-05-08 11:34] MohamedRadwan-DevOps commented on #39
The answer of your question in the FAQ page, please review it for more details or further questions.
https://github.com/MohamedRadwan-DevOps/DevOps-step-by-step-arabic/blob/main/none-community/devops-course-faq.md

[2022-05-08 11:34] #39 closed

[2022-05-11 07:51] ahmed-khiter opened #41 "Lean and devops"
As I understand from searching on google lean is an agile but agile not a lean and some result I got from the internet lean is important to learn before going to hit DevOps fundamentals so,
I have a question is it important to study lean before understanding what is DevOps or is it not necessary for the brginning?

Thanks in advance. 😊

[2022-05-17 05:04] MohamedRadwan-DevOps commented on #41
That's a good question.
Yes it's correct, you have to understand Lean before drilling down into DevOp and this is why my first lesson in the course will cover Lean but in a very abstract level.

It will be enough to give you what you need in the early stage and eliminate the details for late Modules.

[2022-05-17 05:04] #41 closed

[2022-08-09 13:59] MohamedElnaggar5001 opened #105 ".."
-Is it possible to learn DevOps noted that I'm not very good at software development generally? and I'm looking forward to know more about DevOps
-How for is it hard to understand the course specially I'm weak in coding
Thank you in advance 🌹;

[2022-08-09 15:26] inass-helmy commented on #105
The coding experience you need to follow with the content is not that much and what is needed eng/Mohamed will cover it in the lectures.

[2022-08-09 15:30] AndrewSeif commented on #105
Please refer to the FAQ in Github found [here](https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/none-community/devops-course-faq.md), a similar question was asked and a detailed answer was given 😄

Look for Q14.

[2022-08-09 20:55] MohamedRadwan-DevOps commented on #105
@MohamedElnaggar5001

This question will be closed because it violates the rules:

You must read every document VERY WELL on the GitHub repo of the course at the following link:
https://github.com/MohamedRadwan-DevOps/devops-step-by-step

If you have any inquires or questions, don’t send DM, use GitHub issues only on the following link:
https://github.com/MohamedRadwan-DevOps/devops-step-by-step/i

[2022-08-09 20:55] #105 closed

[2022-08-12 13:35] MohamedElnaggar5001 commented on #105
@MohamedRadwan-DevOps ok thank you Mr. Mohamed excuse me I'm gonna read the documents rn 🌹

[2022-08-13 09:12] MohamedRadwan-DevOps commented on #2
Please also follow the following rules before asking any questions or your question will be closed immediately.

You must read every document VERY WELL on the GitHub repo of the course at the following link:
https://github.com/MohamedRadwan-DevOps/devops-step-by-step

If you have any inquires or questions, don’t send DM, use GitHub issues only on the following link:
https://github.com/MohamedRadwa

[2022-08-15 23:07] elsamoheg opened #115 "Potential spelling error ("Artifices") in source/devops-lessons-preparation.md"
The file source/devops-lessons-preparation.md contains the term "Azure Artifices" repeated multiple times. I think the correct term may be "Azure Artifacts".

[2022-08-16 09:30] RehabAbotalep commented on #4
**For the Course Community Edition (CE)**
Kindly note that we have more than 2000 registrations, and we will select only 200 for each round, so if you didn't receive the invitation please wait your turn maybe for the next 3 rounds if still not receiving it, register again.

**Arabic session**
https://forms.office.com/r/hU6k7FK1pW

**English session:**
https://forms.office.com/r/9W8baHZkJ1

**Note*

[2022-08-16 09:40] MohamedRadwan-DevOps commented on #115
@elsamoheg Thanks, we do appreciate your help.
BTW, you can also fork the repo and do a PR next time and fix that by yourself to be part of our contributors and we do appreciate this contribution
@RehabAbotalep please fix the spelling mistake or maybe assign it to anyone of our contributors

[2022-08-16 11:55] AndrewSeif commented on #115
i have fixed this and added it in the open pull request

@MohamedRadwan-DevOps  you can close it now.
@RehabAbotalep  no need to adjust it 👍

[2022-08-16 12:38] elsamoheg opened #118 "Is the upstream/downstream concept relevant for packages or for source code?"
Module 8 in /source/devops-lessons-preparation.md is about packages. It has a bullet point named "Upstream source for package management" but I think the webpage and the video there are unrelated to package management. The upstream/downstream concept is related to forking of source code. It describes where it's best to make changes to the source code (in the fork vs base repo) to facilitate integr

[2022-08-16 12:43] AndrewSeif commented on #118
upstream/downstream concept is _indeed relevant for packages_ , where as if you go through the modules you will learn the concepts of DLLs as well as package repositories, and why we use them, and that is where the concept stems from.

[2022-08-16 13:26] #115 closed

[2022-08-16 13:35] #118 closed

[2022-08-16 15:53] AndrewSeif opened #119 "How can I contribute to the community?"
How can I contribute to the community, and what are the types of contribution available?
Can any 1 contribute? or are there minimum requirements I should meet?

[2022-08-16 16:57] elsamoheg commented on #118
The source code is the thing that can be modified upstream or downstream and the built package (DLL for example) is just a result of what happened at the source code level. The upstream/downstream decision is made at the source code level not at the package level.

[2022-08-16 17:03] AndrewSeif commented on #118
If I create a package (DLL) and publish it in NuGet, and then built an app that requires it, then that's an example of upstream/downstream package management.

because my app requires DLL (upstream) , and that DLL itself got a downstream.

Another example of this is Ubuntu, Ubuntu upstream is Debian, and Ubuntu downstream is Linux Mint.

Finally, please read more about the topic, a simple google s

[2022-08-16 17:19] AndrewSeif opened #120 "How can I join the CE of the Course?"
How can I join the CE of the Course? do I just enroll in the CE page on GitHub? do I need any special requirements? What are the steps to follow to ask a question and when do I expect answers?

[2022-08-17 13:13] AndrewSeif opened #123 "What are the learning outcomes of each lesson in Intro to DevOps CE course?"
Can we have a description of the modules and the expected learning outcomes in each lesson?

[2022-08-17 14:29] MohamedRadwan-DevOps opened #126 "Correct and improve the Reviews Page on GitHub"
Kindly Fix the misspelling of i (small letter) to I (Capital letter) through all reviews page.

[2022-08-17 15:31] #126 closed

[2022-08-17 15:35] MohamedRadwan-DevOps commented on #119
@AndrewSeif we have a new FAQ page, please check it where it has an answer to this question in a very detailed

[2022-08-17 15:42] MohamedRadwan-DevOps opened #127 "What is the difference between the Course CE (Community Edition) and the Course EE (Enterprise Edition)?"
We need to answer what is the difference between the Course CE (Community Edition) and the Course EE (Enterprise Edition) very well for all our members.

[2022-08-17 15:46] AndrewSeif opened #128 "Can I use different tools than what is taught?"
Can I use different tools than what is taught to us in EE or in CE?
And can I contribute those tutorials with different tools? if yes, where do I put my contribution?

[2022-08-17 15:51] MohamedRadwan-DevOps commented on #120
@AndrewSeif This is a very good point and we were planning to create a page on GitHub that describes that in very detail.
So, let me give you a high-level overview of what this page should include.

1. Register in the CC (Community Edition) form.
2. Start the repo (click the star) and Watch the repo (click watch for all activities).
3. Watch all the previous videos for the CE on our YouTube channe

[2022-08-17 15:54] AndrewSeif commented on #119
@MohamedRadwan-DevOps  can we keep the question open, and make a project topic out of it? I think we can add some extra details to the FAQ page when it comes to this particular question.

[2022-08-17 16:07] MohamedRadwan-DevOps commented on #128
@AndrewSeif this question is answered internally in our EE Q&Q platform :-)
And since you are one of our heroes (contributors) you should know the answer but let me explain it to the public user and CE.

Yes, you can use it on your own and with yourself but it's not supported in our community nor can be mentioned in any Q&A or the repo, it's just out of the scope of our strategy.

[2022-08-17 16:07] #128 closed

[2022-08-17 16:15] MohamedRadwan-DevOps commented on #123
@AndrewSeif We should help the members of the CE to study and learn the outcomes, so we will work to create another page on GitHub where it will describe all the outcomes of each lesson and module.

[2022-08-17 16:17] MohamedRadwan-DevOps commented on #127
@AndrewSeif @RehabAbotalep @AhalimZaki
We have a meeting today but I am not sure if we should have a page on GitHub for this info or just an answer here in the issue?
What do you think?

[2022-08-17 16:19] AndrewSeif commented on #127
We should have it in the FAQ, even of the answer is going to be large, but it maintains consistency, and enable users to know the difference between CE & EE.

[2022-08-17 16:52] MohamedRadwan-DevOps commented on #119
@AndrewSeif Sure, I reopened it, there is always room for improvement it's just who is willing to do it :-)

[2022-08-18 10:20] MohamedRadwan-DevOps opened #129 "Create a Q/A for the demo: use a Demo generator to generate several projects and examine them"
**Description:**

[2022-08-18 11:06] MohamedRadwan-DevOps commented on #127
@RehabAbotalep Okay, so this should be added in the FAQ

[2022-08-18 11:37] MohamedRadwan-DevOps commented on #129
@AhalimZaki please remove your review points to a comment here and tag @muhammedeid

[2022-08-18 11:40] AhalimZaki commented on #129
@MohamedRadwan-DevOps Sure, but i don't have permission to edit the ticket itself anymore after the issue is labeled as open.

[2022-08-18 11:40] AhalimZaki commented on #129
@muhammedeid
First, there are guidelines that we should stick to when we write down a demo from now on.

So please read it carefully and if you have any suggestions to improve it or if anything is not clear let me know and we can discuss it.
http://devopsvisionsqa.mohamedradwan.com/?qa=501/what-are-the-guidelines-should-follow-when-writing-down-demo

The images contain so many arrows that are not

[2022-08-18 11:41] MohamedRadwan-DevOps commented on #129
@AhalimZaki No problem, I removed it from the description. Thanks!

[2022-08-18 12:30] RehabAbotalep opened #130 "Use git as a local repo (config, init, commit, etc)"
**Review points:**

[2022-08-18 12:30] RehabAbotalep opened #131 "Create a Q/A for the demo: use liquibase for DB configuration management with H2 DB"

[2022-08-18 12:48] MohamedRadwan-DevOps commented on #129
@muhammedeid are you okay with all the proints that provided by @AhalimZaki?

[2022-08-18 12:56] MohamedRadwan-DevOps opened #132 "Move preparation page on GitHub"

[2022-08-18 12:56] MohamedRadwan-DevOps opened #133 "Update and Translate any Arabic in the issues to be English only"

[2022-08-18 12:56] #133 closed

[2022-08-18 12:57] #132 closed

[2022-08-18 12:57] MohamedRadwan-DevOps opened #134 "Merge FAQs pages"

[2022-08-18 12:57] #134 closed

[2022-08-18 12:58] AndrewSeif commented on #127
@RehabAbotalep  can you assign this to me as well|?

[2022-08-18 12:59] MohamedRadwan-DevOps commented on #120
@RehabAbotalep I will remove this to New as it doesn't has size or priority yet.

[2022-08-18 12:59] MohamedRadwan-DevOps opened #135 "Improve the Demos/Lab description for Intro to DevOps course"
Improve the description for the course demos/labs.

[2022-08-18 13:01] MohamedRadwan-DevOps commented on #123
@RehabAbotalep we need to create this page on GitHub

[2022-08-18 13:05] MohamedRadwan-DevOps commented on #119
@RehabAbotalep I repoend this issue as @AndrewSeif suggested some improvement, so would you please make sure to following up on this?
I will add it to our Backlog

[2022-08-18 13:09] MohamedRadwan-DevOps commented on #120
@RehabAbotalep  when any BPI/issues moved from In-**progress** to **Review**, please make sure you add me as a reviewer and don't move it to done before my final approval.

[2022-08-18 13:43] AhalimZaki commented on #130
Too many arrows.
Bash terminal should be used with a white background or lighter background behind it to make an eye relief or bigger font.
Steps number is not the same as suggested some of them are shrunk down.
@IslamAbdoun

[2022-08-18 13:52] RehabAbotalep commented on #130
@IslamAbdoun are you okay with all the points provided by @AhalimZaki?

[2022-08-18 14:03] RehabAbotalep commented on #130
@IslamAbdoun Also, please make sure your steps are detailed and explain everything well. Your reference is the demo displayed in the session.

[2022-08-18 14:22] RehabAbotalep opened #136 "Create a Q/A for the demo: create a Web App on Azure and deploy the API using FTP"
Create a Q/A on how to create a Web App on Azure and deploy the API App using FTP.

[2022-08-18 14:23] AhalimZaki commented on #136
@omer84
First, there are guidelines that we should stick to when we write down a demo.
So please read it carefully and if you have any suggestions to improve it or if anything is not clear let me know and we can discuss it.
http://devopsvisionsqa.mohamedradwan.com/?qa=501/what-are-the-guidelines-should-follow-when-writing-down-demo.
1.	Font is not with our stander we use 16 for the font on the pla

[2022-08-18 14:26] RehabAbotalep commented on #136
@omer84 Are you okay with all the points provided by @AhalimZaki?

[2022-08-18 15:04] omer84 commented on #136
Thanks for your feedback
I will review and edit and reupload again  as soon as possible

[2022-08-18 15:10] RehabAbotalep commented on #127
@AndrewSeif You are already assigned to another item, once you finish if this item is still available I will do.

[2022-08-18 16:25] MohamedRadwan-DevOps opened #137 "Create a guide and culture document for our contributors"
We need to create a new markdown file that describes the culture and guides for our contributors.

[2022-08-18 16:46] IslamAbdoun commented on #130
@AhalimZaki Thank you for your review and I will work to correct that.

[2022-08-18 21:08] RehabAbotalep opened #138 "Create a Q/A for the demo: work with git using IDE (Visual Studio) to interact with Azure Repo"
Create a Q/A about how to work with git using Visual Studio Code to interact with Azure Repo, and how to gain the same experience of using the command line by using VS.

[2022-08-18 21:08] RehabAbotalep commented on #138
@Kareem4006 Kindly check this.

[2022-08-18 23:43] AhalimZaki commented on #131
Too many arrows.
The dark mode is not the best option when making a tutorial with the red color squares as a highlighter.
Make sure that your steps are details and well organized.
Try to minimize the screenshots from the session videos to be able to control the bash font and zoom to a certain part while doing the tutorial if needed.

[2022-08-19 07:59] MohamedRadwan-DevOps commented on #137
@RehabAbotalepPlease don't add this page to the main readme file, please do the structure as the following:

- Creates a new folder called **contribution**
- Put the culture md file inside it
- Also, create a new readme file for this contribution folder
- Also, add the template of the Q/A which was uploaded by Andrew inside the new folder.

[2022-08-19 08:19] MohamedRadwan-DevOps opened #140 "Move the guide of how to write Q/A from internal to be external on GitHub"
We need to move the guide **(What are the guidelines should I follow when writing down a demo**?) from our Q/A to GitHub, we will move it to the new folder that @RehabAbotalep will create which will be the contribution.
@AhalimZaki Please you should be the only one to do that as this is your contribution and it should appear to everyone in the world that this is your effort, thanks for your great

[2022-08-19 09:41] AndrewSeif commented on #140
Should we keep it in the Q&A and link it to the contribution document? because the contribution doc can contain other types of contribution in detail as well, not just the Q&A.

For example we can add *how to find topics to contribute to on github (e.g. use projects).

[2022-08-19 10:33] MohamedRadwan-DevOps commented on #140
@AndrewSeif No, however you are right, the contribution docs can contain other types of contrubtion, not just Q&A, and will add those along the way.
And your example is a very good example to do, we can add this to the backlog.

[2022-08-19 10:35] AndrewSeif commented on #140
Alright, I will wait for Rehab to create the Contribution file, and then add the part related to Github while Halim adds the part related to Q&A.

[2022-08-19 10:40] MohamedRadwan-DevOps commented on #137
@RehabAbotalep as you can see, I linked the PR (141) to this PBI and it's done now. Excellent work! 👌

[2022-08-19 10:40] #137 closed

[2022-08-19 13:02] RehabAbotalep opened #143 "Create a Q/A for the demo: Structure People Dimension in Portfolio Management"
Create a Q/A for the demo on how to create a new project in an Azure DevOps organization, create multiple teams in the created project, and how structure people dimension in the created teams.

[2022-08-19 16:58] RehabAbotalep opened #144 "Create a Q/A for the demo: create and examine Ubuntu 20.04 VM (created) from gallery"

[2022-08-19 18:38] AhalimZaki commented on #144
1. Highlight squares and numbers should by more organized.

2. Highlight squares should fit the content you are highlighting.

3. More description should be added and should be detailed and explain the picture, there is some pictures with no description at all try to be detailed as much as you can.

4. There are some filler pictures for example these two pictures don't need any interaction from th

[2022-08-19 22:55] RehabAbotalep commented on #144
@fadysaad66 Are you okay with all the points provided by @AhalimZaki?

[2022-08-19 23:05] RehabAbotalep opened #145 "Create a Q/A for the demo: package and deploy API app to IIS and expose to public"
Create a Q/A for the demo: how to package the API app to the local IIS web server, andhow to make it accessible to the public.

[2022-08-19 23:06] RehabAbotalep commented on #145
@AhalimZaki Waiting for your review.

[2022-08-20 04:08] AhalimZaki commented on #145
1. All of the steps are stretched and got changes on the outline border please don't change any of them PowerPoint temp, it's a stander we should all follow.

2. Some of the highlight squares need to be adjusted a bit to be well wrapped for the highlighted content.

3. Numbering for detailed description need to adjust a bit I will make a more detailed section in the guidelines to avoid any confusi

[2022-08-20 07:03] MohamedRadwan-DevOps commented on #145
@RehabAbotalep
Who is working on this? Why it's not assigned to the one that he is working on it?

[2022-08-20 09:29] RehabAbotalep commented on #145
@mohamedmagdy8000 Kindly check

[2022-08-20 13:10] MohamedRadwan-DevOps commented on #145
@RehabAbotalep not only check, if you remember we agreed he must confirm so he can get assigned.
@mohamedmagdy8000 can you confirm the review point,s please?

[2022-08-20 13:11] MohamedRadwan-DevOps opened #146 "Create a Q/A for the demo: End-to-End CI/CD to Deploy Infrastructure and Web application"
@AhalimZaki
Perfect, thanks.

[2022-08-20 13:12] MohamedRadwan-DevOps commented on #146
@AhalimZaki please confirm that you are the one who completed this work?

[2022-08-20 13:14] MohamedRadwan-DevOps commented on #129
@muhammedeid please confirm so we can assign the issue to you?

[2022-08-20 13:16] MohamedRadwan-DevOps commented on #138
@Kareem4006 please confirm that you will work on this not just react?

[2022-08-20 13:19] MohamedRadwan-DevOps commented on #131
@RehabAbotalep who is working on this? Please let him confirm and assign it to him. I can see @AhalimZaki mentioned @IslamAbdoun but I am not sure if Islam is the pre-reviewer before Ablehalim.

So, for everyone, please make sure the one that works on the issue is assigned, if not assigned then there is a comment asking for his confirmation.

[2022-08-20 13:22] RehabAbotalep commented on #131
@IslamAbdoun Please confirm that you will work on that review points.

[2022-08-20 13:26] MohamedRadwan-DevOps commented on #129
@RehabAbotalep I will return this to ready as it's not assigned yet to who will work on it.

[2022-08-20 13:31] MohamedRadwan-DevOps commented on #136
@RehabAbotalep I removed you from the assigned as it has the main person working on it in our case it's Omer.
When the person working on this PBI finished, he will add additional assign to the reviewer and move it to the inreview state.
When the reviewer finish review (Abelhalim) he will add additional reviewer which will be you and so on.

[2022-08-20 13:33] MohamedRadwan-DevOps commented on #145
@RehabAbotalep I removed @AhalimZaki as he completed his review and we should also move this item to in progress state

[2022-08-20 13:42] mohamedmagdy8000 commented on #145
@MohamedRadwan-DevOps confirmed and I'm editing them.

[2022-08-20 13:50] mohamedmagdy8000 commented on #145
@RehabAbotalep I have finished.

[2022-08-20 13:51] AhalimZaki commented on #146
Confirmed, i have done the Q/A and reviewed by @RehabAbotalep.

[2022-08-20 13:52] MohamedRadwan-DevOps commented on #120
@RehabAbotalep and @AndrewSeif
The process should be as the following:
When Andrew finished, he will move the item to inreview and add additional assigned to Rehab and confirm his completion and tag Rehab for review.
When Rehab finished review and everything is Okay, she add additional assigned to me and tag me for final review.
If Rehab or me found anything in the review, we will return the item

[2022-08-20 13:53] MohamedRadwan-DevOps commented on #146
@AhalimZaki Good thanks!
@everyone
Please make sure the PBI in the Done state is finally assigned to the person who did the work.

[2022-08-20 13:55] MohamedRadwan-DevOps commented on #145
@mohamedmagdy8000 as you finished, move the item to review state and add an additional reviewer @AhalimZaki

[2022-08-20 14:00] RehabAbotalep opened #147 "Create a Q/A for the demo: Replace the class library in the API with the NuGet package library"
Create a Q/A for the demo: how to replace the class library in the API app that is done before  with the published NuGet package library and make sure everything is working as expected

[2022-08-20 14:00] mohamedmagdy8000 commented on #145
@MohamedRadwan-DevOps I haven't access to move it so, I have mentioned to to Rehab.

[2022-08-20 14:01] RehabAbotalep commented on #147
@Mahmoud Elmekwed Please confirm you will work on that item.

[2022-08-20 14:04] AhalimZaki commented on #145
@mohamedmagdy8000 Thanks for the edit.
@RehabAbotalep I have no further comments on @mohamedmagdy8000  work.

[2022-08-20 14:44] RehabAbotalep commented on #145
@mohamedmagdy8000 @AhalimZaki Thanks, I have made some edits (more details to the description), correct some misspellings, and add an additional image for downloading .NET Core, Kindly check them.
@MohamedRadwan-DevOps Your final review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=520/what-are-the-steps-package-and-deploy-the-api-app-expose-public&show=521#a521

[2022-08-20 15:01] RehabAbotalep commented on #143
@fadysaad66 Please confirm that you will work on that item.

[2022-08-20 15:08] muhammedeid commented on #129
@MohamedRadwan-DevOps  I'm sorry for late replay yes i work in it now to improve this demo and you can assign it to me .

[2022-08-20 15:12] RehabAbotalep opened #148 "Create a Q/A for the demo: Work with git using IDE (VS Code) to interact with Azure Repo"
Create a Q/A about how to work with git using VS Code to interact with Azure Repo, and how to gain the same experience of using the command line by using VS Code.

[2022-08-20 15:13] RehabAbotalep commented on #148
@mohamedmagdy8000 Please confirm working on this item.

[2022-08-20 15:20] MohamedRadwan-DevOps commented on #147
@RehabAbotalep it seems you can't tag him as he doesn't have contribution yet on our repo.

[2022-08-20 15:24] RehabAbotalep commented on #147
@MohamedRadwan-DevOps Fixed, thanks.

[2022-08-20 15:33] mahmoudelmekwed commented on #147
Confirmed

[2022-08-20 15:43] MohamedRadwan-DevOps commented on #145
@RehabAbotalep @AhalimZaki as you both finished the review, I removed you from the assignment, please make sure next time to do the same.

[2022-08-20 15:44] MohamedRadwan-DevOps commented on #145
@mohamedmagdy8000 would you please review the change made by @RehabAbotalep and confirm that you will consider that next time?

[2022-08-20 15:49] mohamedmagdy8000 commented on #145
@MohamedRadwan-DevOps I have reviewed the change and it will be considered in the next time.

[2022-08-20 16:30] RehabAbotalep commented on #127
@MohamedRadwan-DevOps Your review, please.
https://github.com/MohamedRadwan-DevOps/devops-step-by-step/pull/149

[2022-08-20 16:36] MohamedRadwan-DevOps commented on #127
@RehabAbotalep I am the final reviewer after your review.

So, please review it first and confirm you don't have any feedback or changes needed.

[2022-08-20 16:38] RehabAbotalep commented on #143
@fadysaad66 When start working on it, kindly mention me here to move it to in-progress.

[2022-08-20 16:39] RehabAbotalep commented on #127
@MohamedRadwan-DevOps It is me that did it. I have reviewed it, and no feedback 😊.

[2022-08-20 18:01] MohamedRadwan-DevOps commented on #145
@mohamedmagdy8000 @AhalimZaki @RehabAbotalep
Reviewed and it's really very good work! amazing team!

@mohamedmagdy8000 your work is really imporving, keep up the good work! 👌

[2022-08-20 18:01] #145 closed

[2022-08-20 18:05] MohamedRadwan-DevOps commented on #127
@RehabAbotalep reviewed and done, please instead of giving the PR link in the comment, you should link it to this issue next time, I will do that for you this time.

[2022-08-20 18:11] MohamedRadwan-DevOps commented on #127
@RehabAbotalep reviewed and amazing work as usuall 👌

[2022-08-20 18:11] #127 closed

[2022-08-20 18:30] muhammedeid commented on #129
@AhalimZaki i finish improving this demo now you can review it now thanks.

[2022-08-20 18:34] RehabAbotalep opened #150 "Create a Q/A for the demo: Install and Configure Liquibase on Azure pipeline self-hosted agent"

[2022-08-20 18:35] RehabAbotalep commented on #150
@Sara-Sultan Please confirm that you will work on this item.

[2022-08-20 20:23] Kareem4006 commented on #138
@MohamedRadwan-DevOps
@RehabAbotalep
Confirmed

[2022-08-20 21:36] mahmoudelmekwed commented on #147
Finished and waiting for review

[2022-08-20 22:43] IslamAbdoun commented on #131
@MohamedRadwan-DevOps @RehabAbotalep Confirmed

[2022-08-21 01:36] ehab919 opened #151 "talk about my learning path"
i'm following AWS cloud  in youtube by Eng/essa  and  fllow  your  repo  about  free course  and  study your topics
my question here    complete with  ENg/  essa  and  you  or stop  and complete with you ?
Taking into consideration
ENG/essa  and  you   give  me   many  info  when  study  aws  and  show  your topics   parallel

[2022-08-21 08:44] RehabAbotalep commented on #147
@AhalimZaki Please confirm you will work on reviewing it so that I can assign it to you.

[2022-08-21 08:47] RehabAbotalep commented on #146
@MohamedRadwan-DevOps Should we close this issue?

[2022-08-21 08:54] MohamedRadwan-DevOps commented on #146
@RehabAbotalep yes please!

[2022-08-21 08:55] #146 closed

[2022-08-21 09:38] RehabAbotalep commented on #151
@ehab919 This course focuses on explaining concepts instead of tools.
It isn't about giving you some tools, but about concepts regardless of what tool you use.
It does not focus on tools but focuses on building the foundation by introducing concepts
As long as you learn the concepts, you can apply them to any tools.
Learning a tool will not help you in learning another tool, but learning the build

[2022-08-21 09:45] MohamedRadwan-DevOps commented on #151
@ehab919 both ways can work.
@RehabAbotalep no need to assign this as ce-feature, we are not going to do anything here.
Close the issue please.

[2022-08-21 10:01] #151 closed

[2022-08-21 10:55] RehabAbotalep opened #152 "Create a Q/A for the demo: Use git as a remote repo from the local one (clone, pull, push, etc) Azure Repo"
Create a Q/A on how to use Git as a remote repo from the local one on Azure Repo, and how to understand and use the different Git commands like clone, pull, push and so on.

[2022-08-21 10:56] RehabAbotalep commented on #152
@muhammedeid Please confirm working on this item.

[2022-08-21 10:59] muhammedeid commented on #152
@RehabAbotalep yes Confirmed

[2022-08-21 11:14] AhalimZaki commented on #129
@muhammedeid Thank you for the effort you have done fixing all points provided earlier.

So far you have done a great job wrapping most of the pictures with highlight squares.
But the following pictures need a small edit of the highlight squares to be wrapping the area they highlighting.

http://devopsvisionsqa.mohamedradwan.com/?qa=blob&qa_blobid=4123263549334398619
http://devopsvisionsqa.mohamed

[2022-08-21 13:07] AhalimZaki commented on #144
@fadysaad66
Steps numbers should be to the right or left of the Highlight square, this is shown in the guidelines
https://devopsvisionsqa.mohamedradwan.com/?qa=501/what-are-the-guidelines-should-follow-when-writing-down-demo

For example, this is the picture you provided  in the demo :
http://devopsvisionsqa.mohamedradwan.com/?qa=blob&qa_blobid=1763634787391666972

And this is another picture in M

[2022-08-21 13:19] AhalimZaki commented on #147
@RehabAbotalep confirm

[2022-08-21 16:07] AhalimZaki commented on #147
@mahmoudelmekwed
This picture is left without description If it's not achieving any purpose you can delete it. because after you choose the sln file it will run normally and the picture after that you already start building the app.
http://devopsvisionsqa.mohamedradwan.com/?qa=blob&qa_blobid=12511448853388553368

Step 4 Number needs to be moved left or right of the highlight box.
Step 2 and 4 need

[2022-08-21 17:21] mahmoudelmekwed commented on #147
Thanks for your review
I already edited it now you can review it again if there is any comment
Thanks again for your effort in guidelines it saves lot of time and effort for me

[2022-08-21 18:39] AndrewSeif commented on #120
@RehabAbotalep can you review the item please? I have opened a pull request and waiting for your feedback

[2022-08-21 18:44] RehabAbotalep commented on #147
@mahmoudelmekwed @AhalimZaki Thanks so much.
@MohamedRadwan-DevOps Your final review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=522/what-steps-replace-class-library-with-nuget-package-library&show=523#a523

[2022-08-21 18:50] RehabAbotalep opened #154 "Create a Q/A for the demo: Create CD for API"
Create a Q/A on creating CD for the API App that we have done before.

[2022-08-21 18:52] RehabAbotalep commented on #154
@mahmoudelmekwed Please confirm working on this issue.

[2022-08-21 18:59] mahmoudelmekwed commented on #154
Confirmed

[2022-08-21 19:31] MohamedRadwan-DevOps commented on #147
@RehabAbotalep would you please confirm your review and there is no comments before asking for my review?

[2022-08-21 20:59] RehabAbotalep commented on #147
@MohamedRadwan-DevOps I have already reviewed it I have no comments.

[2022-08-22 11:35] RehabAbotalep commented on #120
@AndrewSeif
Review Points:

1- Your pull request must have only changes (commits) that are related to the related issue or PBI, to make this I have updated the [Contribution Culture](https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/contribution/contribution-culture.md), kindly check.
2- The CE has 2 versions English and Arabic, and we have one form for each language.
3-

[2022-08-22 13:09] RehabAbotalep commented on #143
@fadysaad66 OK, when you finish the assigned in-progress one, I will move this to in-progress.
Please note that don't work at two PIBs at the same time.
Check the [Contribution Culture](https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/contribution/contribution-culture.md), plz.

[2022-08-22 13:29] AndrewSeif commented on #120
@RehabAbotalep  will start working on the fix right away!

[2022-08-22 14:45] RehabAbotalep opened #157 "Create a Q/A for the demo: Deploy DB changes to Snowflake using Liquibase and Azure Pipeline."
Create a Q/A for the demo: how to deploy the DB changes to Snowflake using Liquibase and Azure Pipeline.

[2022-08-22 14:46] RehabAbotalep commented on #157
@AhalimZaki Please confirm working on this issue.

[2022-08-22 14:46] AhalimZaki commented on #157
@RehabAbotalep Confirm

[2022-08-22 16:08] MohamedRadwan-DevOps commented on #147
@mahmoudelmekwed That's very good, keep up the good work!👌

[2022-08-23 08:16] RehabAbotalep commented on #144
@AhalimZaki Please confirm your final review.

[2022-08-23 08:20] RehabAbotalep commented on #129
@muhammedeid OK, thanks but please next time before start working on the review points confirm that here to move the issue to in progress again.
@AhalimZaki Your review, please.

[2022-08-23 11:14] Sara-Sultan commented on #150
Confirmed

[2022-08-23 12:22] IslamAbdoun commented on #131
@AhalimZaki Please review the answer again, I have re-uploaded them again.

[2022-08-23 12:37] AhalimZaki commented on #129
@RehabAbotalep I have reviewed it and i have no further comments.

[2022-08-23 14:17] RehabAbotalep commented on #131
@IslamAbdoun Please before starting on any issue mention me to move it to in progress.
And this [issue ](https://github.com/MohamedRadwan-DevOps/devops-step-by-step/issues/130)is already in progress, work sequential, not parallel.
Please pay attention to [Contribution Culture](https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/contribution/contribution-culture.md)

[2022-08-23 14:29] muhammedeid commented on #152
@RehabAbotalep  I can start now and you also can move stages for this issues to in In progress.

[2022-08-23 14:40] omer84 commented on #136
@AhalimZaki   I edit and reupload same question but get this error
Maximum length is 12000 characters
what is your suggestion delete old question   and make new question and answer or decrease characters

[2022-08-23 15:02] RehabAbotalep commented on #136
@omer84 You can divide your answer into two parts, which means you can make another answer and complete your work.

[2022-08-23 17:57] RehabAbotalep commented on #129
@muhammedeid @AhalimZaki I have made small changes in the question title, description, and the answer steps alignments.
@MohamedRadwan-DevOps Your final review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=504/what-steps-demo-generator-generate-several-projects-examine&show=505#a505

[2022-08-24 09:24] omer84 commented on #136
@AhalimZaki @RehabAbotalep I edited and reupload You can review

[2022-08-24 09:32] MohamedRadwan-DevOps commented on #129
@RehabAbotalep done

[2022-08-24 14:13] MohamedRadwan-DevOps commented on #129
@RehabAbotalep as per our discussion, there is some missing description and you will work on it, so I assign it to you and reopen the issue.

@muhammedeid please when @RehabAbotalep is finished, make sure you understand the difference to consider that in your next task.

[2022-08-24 14:15] MohamedRadwan-DevOps commented on #147
@RehabAbotalep as per our discussion, there is some missing description and you will work on it, so I assign it to you and reopen the issue.

@mahmoudelmekwed please when @RehabAbotalep is finished, make sure you understand the difference to consider that in your next task.

[2022-08-24 14:17] AndrewSeif commented on #120
@RehabAbotalep fixed the pull request

[2022-08-24 14:27] RehabAbotalep opened #159 "Fix all images path issue in the Q/As that added by Kareem"
Fix images path in the added Q/As to be uploaded to the Q/A platform not copied and pasted from Stackoverflow.

[2022-08-24 14:28] RehabAbotalep commented on #159
@Kareem4006 Please confirm.

[2022-08-24 14:44] RehabAbotalep commented on #120
@AndrewSeif Please review my last review points again, you didn't consider points 3 and 4.
For point 2 I am confused as you say Register in the CE (Community Edition) [form] when clicking form it is not a form it is another FAQ question which includes the course 2 versions, here we need to be more specific as we are talking about the Community Edition (CE)

[2022-08-24 14:54] MohamedRadwan-DevOps commented on #120
@AndrewSeif another point, the commits, PR name should be well descriptive and not include the issue name only.
Use the following format for the PR name:
Issue-120-Description
@RehabAbotalep Please add the previous to the culture document.

[2022-08-24 15:38] AndrewSeif commented on #120
@RehabAbotalep apologies for not seeing the other 2 points!
I have fixed the PR now, and adjusted as requested.
PR is ISsue#120.02 (02) is the version number after fixing.

[2022-08-24 16:13] Kareem4006 commented on #159
@RehabAbotalep Confirmed, I fixed them all.

[2022-08-24 17:02] AhalimZaki commented on #131
@IslamAbdoun i did fix some minor stuff and added some pictures and steps you forget.
Next time please try to make the steps are detailed as much as you can.

I have no further comments @RehabAbotalep .

[2022-08-24 17:34] AhalimZaki commented on #136
@omer84 Thank you for the effort in editing all the notes previously.
I edited a picture since it's not acceptable by our guidelines because it has a Timestamp on it.
http://devopsvisionsqa.mohamedradwan.com/?qa=blob&qa_blobid=11473065378586147147

While your writing down the script for steps you have to make in consideration for the punctuation of capitalizing the first letter and "." at the end,

[2022-08-24 18:21] AhalimZaki commented on #144
@fadysaad66
I have edited some minor stuff punctuation and an image, since you mentioned I can change the VM settings , I changed the wrapped square to wrap Memory, Processor,Hard disk as mentioned above the picture you was highlighting only the ram.
http://devopsvisionsqa.mohamedradwan.com/?qa=blob&qa_blobid=4383034792312616531

While you're writing down the script for steps you have to make in c

[2022-08-24 19:35] RehabAbotalep commented on #159
@MohamedRadwan-DevOps I have reviewed them all, fixed.

[2022-08-25 08:13] #159 closed

[2022-08-25 08:26] MohamedRadwan-DevOps commented on #138
@RehabAbotalep @Kareem4006
I assigned this back to Kareem.
Kareem before work, make sure you reviewed the guide provided by @AhalimZaki and consider all his review points for other team members.

[2022-08-25 12:46] muhammedeid commented on #152
@AhalimZaki you can review now.

[2022-08-25 15:46] RehabAbotalep commented on #144
@fadysaad66 @AhalimZaki
1- There is no consistency in the space between every step and its following image, sometimes there is one line, sometimes 2 lines, and sometimes no line, please keep the consistency.
2- In the last step (Start exploring Ubuntu) the description is not proper with its following image.
3- No consistency in the font size used.

[2022-08-25 16:16] RehabAbotalep commented on #136
@omer84 @AhalimZaki
1- I need the steps to be more detailed and well explained for example this step (19- Copy endpoint value.) why I am copying it?, and the step before the screenshot was about Filezilla, suddenly I am on Azure Portal which means there a missing step which is: Navigate again to Azure Portal, another example (1- Navigate to this link) what is this link (It should be Navigate to Mi

[2022-08-25 16:34] RehabAbotalep commented on #131
@MohamedRadwan-DevOps I have reviewed it, your final review plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=484/what-are-the-steps-liquibase-configuration-management-with&show=489#a489

[2022-08-25 19:05] AhalimZaki commented on #157
@RehabAbotalep I finished working on it waiting for your review.

[2022-08-25 19:34] Sara-Sultan commented on #150
Q/A is Done.
@IslamAbdoun  Please, Review the answer.

[2022-08-25 20:47] MohamedRadwan-DevOps commented on #131
@RehabAbotalep Done!
@IslamAbdoun good work.
Also, please review the changes made by @AhalimZaki and make sure you consider that next time, please confirm.

[2022-08-25 20:47] #131 closed

[2022-08-25 21:08] RehabAbotalep commented on #157
@AhalimZaki I have made small changes in the description of the steps.
I need you please add more details for this step (66.1 Add the following command to the script.) I mean explain every part of the command and from which it comes.

[2022-08-26 01:23] AhalimZaki commented on #157
@RehabAbotalep I've added a full description of the step with my understanding of the demo if it needs editing or there is something wrong with the info if you have time kindly let me know it will help me for better understanding.

[2022-08-26 06:04] MohamedRadwan-DevOps commented on #157
@AhalimZaki I will leave @RehabAbotalep to reply, but I just have one comment to clarify.

Rehab didn't mention there is anything wrong, she was clear that there is not enough description.

[2022-08-26 12:48] AhalimZaki commented on #157
@MohamedRaadwan-DevOps I have received @RehabAbotalep concern and i worked on it.
She also said she made small changes to the description.
Since the Q/A is not showing what got edited, if the edit can give me a better understanding to improve even if it's small i would like to know about it.

I guess i didn't choose my words correctly my concern was if the small changes can add up to me, I would l

[2022-08-26 12:50] RehabAbotalep commented on #157
@AhalimZaki I have made some changes kindly check them, great effort.
@MohamedRadwan-DevOps Reviewed, your final review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=533/steps-deploy-changes-snowflake-using-liquibase-azure-pipeline&show=535#a535

[2022-08-26 12:57] RehabAbotalep commented on #157
@AhalimZaki My changes in these steps 1, 5, 60, and 66.

[2022-08-26 13:25] AhalimZaki commented on #157
@RehabAbotalep Noted, thank you for the feedback.

[2022-08-26 13:28] MohamedRadwan-DevOps commented on #157
@AhalimZaki @RehabAbotalep amazing work! when you do both work together the output is remarkable

[2022-08-26 13:29] #157 closed

[2022-08-26 14:15] RehabAbotalep commented on #144
@fadysaad66 @AhalimZaki I have made some edits in the description of the steps, kindly check them.
@MohamedRadwan-DevOps Your review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=506/what-are-the-steps-create-examine-ubuntu-created-from-gallery

[2022-08-26 14:30] RehabAbotalep commented on #120
@AndrewSeif
1- The PR name should be well descriptive, Fix is not a good description.
2- The table of content (TOC) is not updated successfully, the added question should be clickable and redirects me to the answer, kindly check another FAQ question to understand what I mean.
3- The used image in the added question shouldn't be in the docs/images folder, this folder is for docs images only.

[2022-08-26 15:23] RehabAbotalep opened #164 "Create a Q/A for the demo: create and use Log Analytics workspace."
Create a demo on how to create a Log Analytics workspace, and how you can easily store, retain, and query data collected from your monitored resources in Azure.

[2022-08-26 16:27] AhalimZaki commented on #150
Hello, @Sara-Sultan I will be working as a reviewer for All Q/A demos, so in the future please mention me for review after you're done.

1. We have guidelines and how to ask a question.
- And as for how to ask a question you put a title to the question but you forget to place the question itself, as for the guidelines our Q/A demos are meant to be simple clear, and detailed as much as you can.
- H

[2022-08-26 16:40] RehabAbotalep commented on #129
@MohamedRadwan-DevOps Your review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=504/what-steps-demo-generator-generate-several-projects-examine&show=505#a505

[2022-08-26 16:52] AhalimZaki commented on #152
In the 2nd answer, you were amazing following the numeration i hope you will follow that in future posts.

However, in the first answer, i edited the following bullet points with a number instead.
in the following steps, i made small changes.
8.1 to git log and added gitlog quote for the command.
9.1, 10.1.2, 11.1, 14.1.2, 16.1,2,3,4,5,6.

Please consider doing the same stander in the future.

Als

[2022-08-26 19:38] MohamedRadwan-DevOps commented on #150
@Sara-Sultan  and @Kareem4006 Please review all other Q/A and all @AhalimZaki review points with other contributors.

You don't have to start over from the beginning, you must start where the other end.
@RehabAbotalep FYI

[2022-08-26 19:40] Kareem4006 commented on #150
@MohamedRadwan-DevOps Well noted

[2022-08-27 07:32] MohamedRadwan-DevOps commented on #120
@AndrewSeif
The description is the same as the title of the question, I should I understand what is the purpose of the PR (why) and what will be included before I open the PR.

For the path of the images, you can use the following:

devops-step-by-step/source/images/mics/

When myself or @RehabAbotalep  didn't give you or others a direct answer, because we want to help you finding out by yourself

[2022-08-28 05:34] omer84 commented on #136
@RehabAbotalep @AhalimZaki  Thank you for your feedback, i will keep all comments to enhance performance.

[2022-08-28 12:33] IslamAbdoun commented on #131
@MohamedRadwan-DevOps Confirmed

[2022-08-29 11:41] RehabAbotalep commented on #152
@AhalimZaki @muhammedeid I have made some edits, kindly check.
@MohamedRadwan-DevOps Your final review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=526/what-steps-remote-repo-from-local-clone-pull-push-azure-repo&show=532#a532

[2022-08-29 12:45] AhalimZaki commented on #164
@RehabAbotalep
Confirm that I will start working on the task.

[2022-08-29 13:55] RehabAbotalep commented on #147
@MohamedRadwan-DevOps I have made my edits, your review plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=522/what-steps-replace-class-library-with-nuget-package-library&show=523#a523

[2022-08-29 14:15] RehabAbotalep opened #165 "Improve the Demos/Lab description (4 demos)"
Improve the description for the first 4 demos.

[2022-08-29 14:50] MohamedRadwan-DevOps commented on #147
@mahmoudelmekwed review the changes by Rehab and make sure you consider that next time.

[2022-08-29 15:40] #152 closed

[2022-08-29 15:40] #147 closed

[2022-08-29 15:42] #144 closed

[2022-08-31 09:25] RehabAbotalep opened #167 "Create a Q/A on the Q&A platform about Azure spending limit"
Create a Q/A on the Q&A platform about the Azure spending limit and how to remove it.

[2022-08-31 13:12] RehabAbotalep opened #168 "Module (1) lessons outcomes."
Create a lessons outcomes page on GitHub, and describe all the outcomes of Module (1) lessons.

[2022-09-01 09:20] RehabAbotalep commented on #148
@mohamedmagdy8000 You haven't confirmed yet, please confirm.

[2022-09-01 09:57] MohamedRadwan-DevOps opened #171 "Restructure GitHub repo to support the new courses"
### Discussed in https://github.com/MohamedRadwan-DevOps/devops-step-by-step/discussions/163

<div type='discussions-op-text'>

<sup>Originally posted by **MohamedRadwan-DevOps** August 26, 2022</sup>
@RehabAbotalep we need to restructure the GitHub repo to support the new courses.
Things we need to think about:

- Main readme file structure to support sections for each course and one for all comm

[2022-09-01 10:04] MohamedRadwan-DevOps commented on #168
@RehabAbotalep excellent 👌

[2022-09-01 10:04] #168 closed

[2022-09-01 10:31] RehabAbotalep commented on #167
@MohamedRadwan-DevOps Your review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=541/how-can-i-remove-the-spending-limit-in-azure-portal

[2022-09-01 10:43] MohamedRadwan-DevOps commented on #167
@RehabAbotalep Please add how to turn on the spending limit after removing it.

[2022-09-01 12:17] MohamedRadwan-DevOps commented on #165
@RehabAbotalep well done!

[2022-09-01 12:17] #165 closed

[2022-09-01 12:39] RehabAbotalep commented on #136
@MohamedRadwan-DevOps and I agreed that we want to complete this issue as soon as possible, so I will reassign it to myself or @AhalimZaki
Thanks so much for your previous contribution, appreciated.
@omer84

[2022-09-01 12:42] RehabAbotalep commented on #138
@MohamedRadwan-DevOps and I agreed that we want to complete this issue as soon as possible, so I will reassign it.
Thanks so much for your previous contribution, appreciated.
@Kareem4006

[2022-09-01 12:43] RehabAbotalep commented on #154
@MohamedRadwan-DevOps and I agreed that we want to complete this issue as soon as possible, so I will reassign it.
Thanks so much for your previous contribution, appreciated.
@mahmoudelmekwed

[2022-09-01 12:43] RehabAbotalep commented on #143
@MohamedRadwan-DevOps and I agreed that we want to complete this issue as soon as possible, so I will reassign it.
Thanks so much for your previous contribution, appreciated.
@fadysaad66

[2022-09-01 12:44] RehabAbotalep commented on #150
@MohamedRadwan-DevOps and I agreed that we want to complete this issue as soon as possible, so I will reassign it.
Thanks so much for your previous contribution, appreciated.
@Sara-Sultan

[2022-09-01 13:02] RehabAbotalep commented on #167
@MohamedRadwan-DevOps Added.

[2022-09-01 13:02] omer84 commented on #136
okay, thank you

[2022-09-01 13:14] RehabAbotalep opened #174 "Module (2) lessons outcomes"
Add and describe all the outcomes of Module (2) lessons.

[2022-09-01 13:17] #167 closed

[2022-09-01 13:18] RehabAbotalep commented on #123
Child issues:
#168 ✔️
#174

[2022-09-01 13:19] IslamAbdoun commented on #130
@RehabAbotalep I am working on this demo I will reupload new slides, sorry for the lateness.

[2022-09-01 14:59] MohamedRadwan-DevOps commented on #120
@AndrewSeif Thanks for all your effort, I do appreciate it.
I just need to close it, so I am going to work on it.

[2022-09-01 16:03] RehabAbotalep opened #176 "Improve the Demos description for module (1)"
Improve the description for the rest demos in module (1).

[2022-09-01 16:05] RehabAbotalep commented on #135
Child issues:
#165 ✅
#176

[2022-09-01 17:02] #174 closed

[2022-09-02 08:21] RehabAbotalep opened #177 "Module (3) and (4) lessons outcomes"
Add and describe all the outcomes of module (3) and module (4) lessons.

[2022-09-02 10:48] RehabAbotalep opened #179 "Module (5) and (6) lessons outcomes"
Add and describe all the outcomes of module (3) and module (4) lessons.

[2022-09-02 11:02] MohamedRadwan-DevOps commented on #179
@RehabAbotalep this is not external, so I replaced it with internal.

[2022-09-02 14:54] AhalimZaki opened #180 "The samples for Q/A demons provided in the source need update."
I was preparing to push the guidelines for Q/A and I notice that the following samples provided here need some adjustment to meet our guidelines.
https://github.com/MohamedRadwan-DevOps/devops-step-by-step/tree/main/source

1. [Create an Azure Subscription free account](https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/docs/create-an-azure-subscription-free-account.md).

[2022-09-02 16:32] mohamedmagdy8000 commented on #148
Confirmed

[2022-09-02 17:33] #177 closed

[2022-09-02 17:34] #176 closed

[2022-09-02 17:49] RehabAbotalep commented on #148
We want to complete this issue as soon as possible, so I reassigned it to myself.
Thanks so much for your previous contribution, appreciated.
@mohamedmagdy8000

[2022-09-02 23:23] IslamAbdoun commented on #130
@RehabAbotalep I have finished Can you rereview the demo
Thanks

[2022-09-03 09:03] Sara-Sultan commented on #150
Confirmed, I will work on review points

[2022-09-03 11:15] Sara-Sultan commented on #2
Due to the restructuring of folders. Kindly, this is the modified link for FAQ page

https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/faq.md

[2022-09-03 12:24] AhalimZaki commented on #140
#183

[2022-09-04 03:15] AndrewSeif commented on #120
Alright, apologies for not doing it in a timely manner!

[2022-09-04 03:15] AndrewSeif commented on #119
Can I get this assigned to me to start working on it?

[2022-09-04 03:45] AndrewSeif opened #184 "What can I do if I find spelling mistakes?"
What can I do if I find spelling mistakes in the repo and want to fix it?

and what can I do, if I want to elaborate on a topic in the repo (e.g. give more detail about a demo or a lesson)?

[2022-09-05 08:24] RehabAbotalep commented on #164
@MohamedRadwan-DevOps
I have reviewed it, no comments.
Your final review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=545/what-are-the-steps-to-create-and-use-log-analytics-workspace

[2022-09-05 09:50] MohamedRadwan-DevOps commented on #164
@AhalimZaki amazing work as usual 👌

[2022-09-05 09:50] #164 closed

[2022-09-05 10:20] MohamedRadwan-DevOps commented on #179
@RehabAbotalep Excellent work 👌

Please in the next work, replace (Also, apply and implement the following demos) with (Also, apply and implement the following demos/exercies).

[2022-09-05 10:21] #179 closed

[2022-09-05 10:24] RehabAbotalep opened #186 "Improve the Demos description for module (3)"
Improve module (3) Demos description.

[2022-09-05 10:31] MohamedRadwan-DevOps opened #187 "Create outline for course: DataOps Real Enterprise Project in Action"

[2022-09-05 10:32] MohamedRadwan-DevOps commented on #187
@RehabAbotalep we need to move this to ready, so let me know if you have any questions.

[2022-09-05 10:33] MohamedRadwan-DevOps opened #188 "Create outline for course: Mastering Microsoft DevOps Solutions and Get Certified"

[2022-09-05 10:33] MohamedRadwan-DevOps commented on #188
@RehabAbotalep we need to move this to ready, so let me know if you have any questions.

[2022-09-05 10:33] MohamedRadwan-DevOps opened #189 "Create outline for course: Mastering Terraform and Get Certified"

[2022-09-05 10:34] MohamedRadwan-DevOps commented on #189
@RehabAbotalep we need to move this to ready, so let me know if you have any questions.

[2022-09-05 10:38] AndrewSeif commented on #189
@MohamedRadwan-DevOps I am wondering if I can also participate in working at this issue?

[2022-09-05 10:41] AndrewSeif commented on #188
@RehabAbotalep  I am very interested in supporting you at this issue if possible 👍

[2022-09-05 11:41] RehabAbotalep commented on #188
@MohamedRadwan-DevOps OK, let's move it.

[2022-09-05 11:44] RehabAbotalep commented on #187
@MohamedRadwan-DevOps I need more details about the project so that I can configure the course outlines.

[2022-09-05 12:33] MohamedRadwan-DevOps commented on #171
@RehabAbotalep
I need to discuss with you the file names and the labels.
For example.
Should the label of the FAQ page be Course FAQ while the other FAQ will be General FAQ?
Also, I feel not comfortable having several files named with the same name, like faq.md, and outlines.md, etc. I know that each file with being in a separate folder but I don't like the idea of having many files with the same

[2022-09-05 12:35] RehabAbotalep commented on #171
@MohamedRadwan-DevOps OK.

[2022-09-05 14:24] #140 closed

[2022-09-05 14:28] MohamedRadwan-DevOps commented on #187
@RehabAbotalep as per our discussion to have a meeting to discuss that.

[2022-09-05 14:30] MohamedRadwan-DevOps commented on #188
@AndrewSeif the same here, you can suggest or improve the outline once created.

[2022-09-06 00:12] AndrewSeif commented on #119
@MohamedRadwan-DevOps @RehabAbotalep I was thinking of making a .md file with the following structure.

1. Types of Contribution
 - Github
    - Opening Issues.
    - Reacting to Issues.
    - Fixing typos.

 - Q&A Platform
    - Answering Questions
      - What to do before Answering?
    - Asking Questions
      - What to do before asking questions?
      - how to ask questions?
    - Upvoting a

[2022-09-06 08:33] MohamedRadwan-DevOps opened #193 "Finish all the arrangement for our event with April Edwards"
- Linked-in event ✅
- Facebook event ✅
- Send an invitation to all members ✅
- Amend the GitHub event schedule ✅

[2022-09-06 12:59] AhalimZaki commented on #180
@RehabAbotalep I've reworked the docker demo.

Should I fix, Num 2, 3 as well in a later pull request, or can it be done later?

[2022-09-06 13:02] azizamohamedabdelsalam commented on #180
i don't want to receive e-mails by each commit you applied , can anyone help me please how to do that?

[2022-09-06 13:31] MohamedRadwan-DevOps commented on #171
@RehabAbotalep perfect work!

[2022-09-06 13:55] #193 closed

[2022-09-06 15:06] #184 closed

[2022-09-06 15:40] #186 closed

[2022-09-06 16:16] AhalimZaki commented on #130
@RehabAbotalep
https://devopsvisionsqa.mohamedradwan.com/?qa=510/what-are-the-steps-to-use-git-local-repo-config-init-commit-etc&show=513#a513

[2022-09-07 10:46] RehabAbotalep commented on #180
@AhalimZaki As we discussed we will do them later, so I will close this issue.

[2022-09-07 10:54] RehabAbotalep opened #200 "Module (7) lessons outcomes"
Add and describe all the outcomes of Module (7) lessons.

[2022-09-07 13:42] AndrewSeif opened #202 "Module (8) lessons outcomes"
Add and describe all the outcomes of Module (8) lessons.

[2022-09-07 14:08] MohamedRadwan-DevOps commented on #180
@azizamohamedabdelsalam you can unwatch from the repo (remove the watch), see the following link:
[https://github.com/watching](https://github.com/watching)

[2022-09-07 17:49] RehabAbotalep commented on #148
@MohamedRadwan-DevOps Your review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=548/what-are-steps-work-with-using-code-interact-with-azure-repo&show=550#a550

[2022-09-08 13:41] RehabAbotalep commented on #200
@MohamedRadwan-DevOps The discussed points amended.

[2022-09-08 13:45] RehabAbotalep commented on #202
@AndrewSeif  You can start working on it, please review the finished module lessons outcomes first.

[2022-09-08 13:53] RehabAbotalep commented on #119
@AndrewSeif Thanks, you can add them to the General FAQ page.
The second question, already exists, you can update it with your points.
https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/faq.md#i-want-to-contribute-but-i-dont-know-what-should-i-do

[2022-09-08 14:04] MohamedRadwan-DevOps commented on #200
@RehabAbotalep that's perfect👌

[2022-09-08 14:05] #200 closed

[2022-09-08 14:09] RehabAbotalep opened #204 "Improve the Demos description for module (4) and module (5)"
Improve module (4) and module (5) demos description.

[2022-09-09 13:10] #204 closed

[2022-09-09 13:15] MohamedRadwan-DevOps commented on #204
@RehabAbotalep perfect 👌 thank you!

[2022-09-10 02:22] AndrewSeif opened #207 "Mastering Microsoft DevOps Solutions and Get Certified Course - Outline Adjustment"
I am recommending to adjust the outline to look like the following:

- Module X
  - Lessons
    - Lesson 1
    - Lesson 2
  - Labs
    - Lab 1
    - Lab 2
  - Lesson Outcomes.
    -  XYZ
    - ABC
    - ETC

Then we can have a .md file for each point in a later date(lessons ,labs, lesson outcomes) like we have with Advanced Introduction to DevOps Course.
This outline will maintain consistency with

[2022-09-10 12:41] MohamedRadwan-DevOps commented on #207
No، we already have a structure, so we will just do as before.

[2022-09-10 12:42] #207 closed

[2022-09-11 18:47] AhalimZaki commented on #150
@RehabAbotalep
http://devopsvisionsqa.mohamedradwan.com/?qa=536/steps-install-configure-liquibase-azure-pipeline-hosted-agent&show=537#a537

[2022-09-11 21:09] AhalimZaki commented on #136
@RehabAbotalep http://devopsvisionsqa.mohamedradwan.com/?qa=514/what-are-the-steps-creating-web-app-azure-and-deploying-using&show=516#a516

[2022-09-12 09:09] MohamedRadwan-DevOps commented on #187
@RehabAbotalep will close this issue for now and reopen it later.

[2022-09-12 09:09] #187 closed

[2022-09-12 09:23] MohamedRadwan-DevOps opened #208 "Cancel the session Terraform vs. Bicep"

[2022-09-12 13:15] AndrewSeif commented on #202
@RehabAbotalep Can you check the PR? 😄

[2022-09-12 13:45] #136 closed

[2022-09-12 14:39] RehabAbotalep opened #209 "Improve the Demos description for module (6)"
Improve module (6) demos description.

[2022-09-12 14:41] AndrewSeif opened #210 "Module (9) lessons outcomes"
Add and describe all the outcomes of Module (9) lessons.

@RehabAbotalep  please assign this to me, if Module (8) PR is accepted  #206  #202  .

Thank you!

[2022-09-12 15:05] RehabAbotalep commented on #202
@AndrewSeif
You shouldn't change the structure of the table of content and should comply with the existing structure, not only for this file but also for all repo files.
I will accept the PR, and make my changes, please make sure to review them.

[2022-09-12 15:07] RehabAbotalep commented on #154
@MohamedRadwan-DevOps Your review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=552/what-are-the-steps-to-create-cd-for-the-api-app&show=553#a553

[2022-09-12 15:13] AndrewSeif commented on #202
@RehabAbotalep apologies for that, I didnt find an amend option at that time, so I created a new one using the ToC extension in VS Code, but the ToC structure is the same.

But ill make sure that never happens in the future!

[2022-09-12 15:53] RehabAbotalep commented on #202
@MohamedRadwan-DevOps Your review, plz.
@AndrewSeif Please review the changes, and confirm reviewing before assigning to Module (9) lessons outcomes.

[2022-09-12 17:28] MohamedRadwan-DevOps commented on #202
@AndrewSeif Thank you! Much appreciate your effort.
No need for apologies please. Just understand, confirm, get aligned with the flow and the details.
Thanks again!

[2022-09-12 17:53] AndrewSeif commented on #202
@RehabAbotalep I have reviewed the changes, and will keep them in mind when moving forward with the other Modules!

[2022-09-13 08:09] MohamedRadwan-DevOps commented on #154
@RehabAbotalep perfect as usual! 👌

[2022-09-13 08:09] #154 closed

[2022-09-13 08:16] #202 closed

[2022-09-13 08:18] MohamedRadwan-DevOps commented on #202
Thanks, @AndrewSeif I can see a lot of improvement in your last PR, keep up the good work!

[2022-09-13 08:21] MohamedRadwan-DevOps commented on #119
@RehabAbotalep and @AndrewSeif pleasae work and finish this first before working on #210, I will move it to new

[2022-09-13 08:22] AndrewSeif commented on #119
@MohamedRadwan-DevOps  noted, Ill have this done by EoD!

[2022-09-13 15:04] RehabAbotalep opened #214 "Module (10) lessons outcomes"
Add and describe all the outcomes of Module (10) lessons.

[2022-09-13 15:36] #209 closed

[2022-09-14 08:29] #189 closed

[2022-09-14 08:32] MohamedRadwan-DevOps commented on #119
@AndrewSeif as you didn't submit your PR yet, I think you are right of having an md file in the contribution folder, so please create your work as your suggestion.

[2022-09-14 08:34] AndrewSeif commented on #119
@MohamedRadwan-DevOps Alright, Will adjust it and do a PR within the hour.

[2022-09-14 10:52] AndrewSeif commented on #119
@MohamedRadwan-DevOps @RehabAbotalep  PR opened, please check it and tell me if it wants any adjustments 😄

[2022-09-14 10:57] MohamedRadwan-DevOps commented on #119
@AndrewSeif that's really very good, thank you so much!

[2022-09-14 10:58] #119 closed

[2022-09-16 10:31] #214 closed

[2022-09-16 10:32] MohamedRadwan-DevOps commented on #214
@RehabAbotalep one small change please.
As we have more than one course now, please make sure to prefix the title of the issue with the short course name.

[2022-09-16 11:00] RehabAbotalep opened #218 "Module (11) lessons outcomes"
Add and describe all the outcomes of Module (11) lessons.

[2022-09-16 11:27] AndrewSeif commented on #210
@RehabAbotalep Can you check the PR?

[2022-09-16 11:36] MohamedRadwan-DevOps opened #220 "Create Course Info and Prerequisites for Master DevOps course"

[2022-09-16 11:36] #220 closed

[2022-09-16 12:48] AhalimZaki opened #221 "Review and Improve Module 2 Demos"

[2022-09-16 14:04] RehabAbotalep commented on #210
@AndrewSeif Thanks, I will make some changes, please make sure to review them after addng.

[2022-09-16 16:29] AhalimZaki commented on #221
Demo 1: Create and examine Win 11 VM from the gallery.
[ Re-structured the whole question] need to go over it later for quality.
https://devopsvisionsqa.mohamedradwan.com/?qa=290/what-are-the-steps-to-create-and-examine-win-from-the-gallery

Demo 2:Create and examine Ubuntu 20.04 VM from the gallery.
is ok
https://devopsvisionsqa.mohamedradwan.com/?qa=506/what-are-the-steps-create-examine-ubuntu-c

[2022-09-16 16:44] AhalimZaki opened #223 "Review and improve Module 3 Demos."

[2022-09-16 16:44] AhalimZaki commented on #223
Demo 1: Create an Azure Subscription Free account.
Guidelines-Quality-Control.
https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/docs/create-an-azure-subscription-free-account.md

Demo 2: Create Ubuntu on Azure and connect to it using SSH and remote desktop.
Guidelines-Quality-Control.
https://devopsvisionsqa.mohamedradwan.com/?qa=488/what-are-the-steps-create-ubuntu-azu

[2022-09-17 16:02] MohamedRadwan-DevOps commented on #210
@RehabAbotalep excellent changes! 👌
Since you accepted the PR from Andrew and this will close the issue but you didn't want to because you wanted to improve some changes as in your #222.
So, would you please mention the original PR in the comment so we can track what was the original PR later?
I will do that for you this time:

**Original PR for this issue was:** #219

Also, another question, are

[2022-09-17 23:57] RehabAbotalep commented on #210
@MohamedRadwan-DevOps Yes, I am waiting for your review, and I have mentioned Andrew to make sure to review the changes after adding.

[2022-09-18 00:05] #223 closed

[2022-09-18 00:23] RehabAbotalep commented on #221
@AhalimZaki Reviewed, thanks so much for your effort.

[2022-09-18 00:24] #221 closed

[2022-09-18 05:45] AndrewSeif commented on #210
@RehabAbotalep I already reacted to your message yesterday to signify that i have already reviewed it, but anyway I have reviewed it and will take it into consideration next PR!

Thank you alot!

[2022-09-18 07:13] #210 closed

[2022-09-18 14:38] RehabAbotalep opened #225 "Intro to DevOps Module (12) and Module (13) lessons outcomes"
Add and describe all the outcomes of Module (12) and Module (13) lessons.

[2022-09-18 18:43] #218 closed

[2022-09-19 08:50] MohamedRadwan-DevOps opened #226 "Create Course FAQ for Master DevOps course"

[2022-09-19 12:18] RehabAbotalep commented on #226
@MohamedRadwan-DevOps Your review, please.

[2022-09-19 17:00] #226 closed

[2022-09-20 14:54] RehabAbotalep opened #228 "Create 1st draft Course Lessons Outcomes and Demos/Labs for Master DevOps course"

[2022-09-20 15:11] RehabAbotalep commented on #228
@MohamedRadwan-DevOps Your review, please.

[2022-09-21 14:11] RehabAbotalep commented on #138
@MohamedRadwan-DevOps Your review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=556/what-steps-work-with-using-visual-studio-interact-with-azure&show=558#a558

[2022-09-21 14:13] MohamedRadwan-DevOps commented on #138
@RehabAbotalep perfect! thanks!

[2022-09-21 14:18] #138 closed

[2022-09-21 16:54] RehabAbotalep opened #230 "Structure Time Dimension in Portfolio Management"
Create a Q/A for the demo on how to structure Time Dimension in Portfolio Management.

[2022-09-22 12:00] AhalimZaki commented on #143
@RehabAbotalep
http://devopsvisionsqa.mohamedradwan.com/?qa=543/how-to-structure-people-dimension-in-portfolio-management

[2022-09-22 12:40] AhalimZaki opened #231 "Review and improve Module 4 Demos."

[2022-09-22 12:50] AhalimZaki commented on #231
Demo 1: Examine Azure DevOps docs, create org and examine all services.
ok.
https://devopsvisionsqa.mohamedradwan.com/?qa=389/what-are-the-steps-creating-azure-account-examine-services

Demo 2: Using Azure DevOps API to create items through Postman and Azure DevOps CLI.
ok.
https://devopsvisionsqa.mohamedradwan.com/?qa=294/how-azure-devops-create-items-through-postman-azure-devops

Demo 3: Use Dem

[2022-09-22 12:55] AhalimZaki opened #232 "Review and improve Module 5 Demos"

[2022-09-22 12:55] AhalimZaki commented on #232
Demo 1: Install-uninstall Docker on Ubuntu on HV and create some containers.
Ok
https://devopsvisionsqa.mohamedradwan.com/?qa=tag/module-5

Demo 2: Run a .NET core app container from GitHub on Ubuntu.
Ok
https://devopsvisionsqa.mohamedradwan.com/?qa=281/what-are-the-steps-run-the-core-container-from-github-ubuntu

[2022-09-22 13:18] RehabAbotalep commented on #225
@MohamedRadwan-DevOps Your review, please.

[2022-09-22 13:30] #231 closed

[2022-09-22 13:33] #232 closed

[2022-09-22 14:22] RehabAbotalep opened #234 "Intro to DevOps Module (14) and Module (15) lessons outcomes"
Add and describe all the outcomes of Module (14) and Module (15) lessons.

[2022-09-22 15:38] #143 closed

[2022-09-22 15:39] #225 closed

[2022-09-23 11:16] MohamedRadwan-DevOps opened #237 "Prepare the slides for the next CE session"
### Discussed in https://github.com/MohamedRadwan-DevOps/devops-step-by-step/discussions/173

<div type='discussions-op-text'>

<sup>Originally posted by **MohamedRadwan-DevOps** September  1, 2022</sup>
@RehabAbotalep we need to prepare the slides for the next CE session where we will start explaining the lessons and modules of the DevOps course.

So, what do you think should be included in this

[2022-09-23 15:07] RehabAbotalep opened #240 "Intro to DevOps Module (16) and Module (17) lessons outcomes"
Add and describe all the outcomes of Module (16) and Module (17) lessons.

[2022-09-23 15:07] RehabAbotalep opened #241 "Intro to DevOps Module (18) and Module (19) lessons outcomes"
Add and describe all the outcomes of Module (18) and Module (19) lessons.

[2022-09-23 20:37] #234 closed

[2022-09-25 22:32] AhalimZaki opened #242 "Review and Improve Module 6 Demos."

[2022-09-25 22:33] AhalimZaki commented on #242
Demo 1: Examine a History of repo on GitHub.
Guidelines-Quality-Control.
http://devopsvisionsqa.mohamedradwan.com/?qa=465/what-are-the-steps-to-examine-history-on-github&show=466#a466

Demo 2: Install Git on Windows and Ubuntu.
OK.
http://devopsvisionsqa.mohamedradwan.com/?qa=283/what-are-the-step-to-install-git-on-windows-and-ubuntu&show=284#a284

Demo 3: Hand-typed text files Vs. Generated text

[2022-09-25 22:33] AhalimZaki opened #243 "Review and improve Module 7 Demos."

[2022-09-25 22:34] AhalimZaki commented on #243
Demo 1: Create and configure Continuous Integration (CI) pipeline for a .NET class library.
OK.
https://devopsvisionsqa.mohamedradwan.com/?qa=313/what-are-the-steps-of-creating-ci-for-the-class-library

Demo 2: Create and configure Continuous Integration (CI) pipeline for API.
OK.
https://devopsvisionsqa.mohamedradwan.com/?qa=321/what-are-the-steps-to-create-ci-for-api

Demo 3: Build hosted agent

[2022-09-25 22:35] AhalimZaki opened #244 "Review and improve Module 8 Demos."

[2022-09-25 22:36] AhalimZaki commented on #244
Demo 1: Create and examine feed on Azure artifact with different options.
Need rework.
https://devopsvisionsqa.mohamedradwan.com/?qa=417/create-examine-feed-azure-artifact-with-different-options

Demo 2: Package and publish the class library to NuGet.
Need rework.
https://devopsvisionsqa.mohamedradwan.com/?qa=448/steps-package-publish-class-library-nuget-using-azure-devops

Demo 3: Use feed views

[2022-09-26 15:00] #242 closed

[2022-09-26 15:04] #243 closed

[2022-09-26 16:34] #240 closed

[2022-09-26 20:44] RehabAbotalep commented on #123
@MohamedRadwan-DevOps All child issues are done, now we can close this issue 🎉

[2022-09-26 20:46] #123 closed

[2022-09-27 08:31] MohamedRadwan-DevOps opened #247 "Change all pages to use markdown and relative path instead of absolute path and HTML"
Change all links to use markdown and relative path instead of absolute path and HTML links

For example instead of using this:

- <a href="https://github.com/MohamedRadwan-DevOps/devops-step-by-step/blob/main/source/advanced-introduction-to-devops" title="Advanced Introduction to DevOps" style="background-color:#FFFFFF;color:#000000;text-decoration:none">⬇️ Advanced Introduction to DevOps </a>

Us

[2022-09-28 13:43] AhalimZaki opened #248 "Run Static Application Security Testing (SAST) using Azure Pipeline"
Create a Q/A for the demo on how to Run Static application security Testing (SAST) using Azure Pipeline.

[2022-09-28 16:10] RehabAbotalep commented on #244
@MohamedRadwan-DevOps Reviewed, @AhalimZaki thank you so much.

[2022-09-28 16:11] #244 closed

[2022-09-28 21:15] AhalimZaki commented on #248
http://devopsvisionsqa.mohamedradwan.com/?qa=572/steps-static-application-security-testing-using-pipeline&show=573#a573

[2022-09-29 08:29] MohamedRadwan-DevOps commented on #248
Thanks @AhalimZaki that's really very good!

[2022-09-29 09:54] RehabAbotalep commented on #248
@MohamedRadwan-DevOps Reviewed.

[2022-09-29 09:57] RehabAbotalep opened #250 "Improve the Demos description for module (7)"
Improve module (7) demos description.

[2022-09-29 10:05] RehabAbotalep opened #251 "Improve the Demos description for module (16)"
Improve module (16) demos description.

[2022-09-29 10:24] MohamedRadwan-DevOps commented on #251
@RehabAbotalep the description number doesn't match the title?

[2022-09-29 10:46] #248 closed

[2022-09-29 16:10] #247 closed

[2022-09-30 12:39] MohamedRadwan-DevOps opened #254 "Improve the banner of the main Readme file"
- Add the DevOps visions logo
- Add many good counters like:
	- Visitors
	- PR
	- Issues
	- Starts
	- Contributors
	- Etc.

[2022-09-30 19:48] RehabAbotalep commented on #230
@MohamedRadwan-DevOps Your review, please
http://devopsvisionsqa.mohamedradwan.com/?qa=575/what-steps-structure-time-dimension-portfolio-management

[2022-10-01 05:58] MohamedRadwan-DevOps commented on #230
Very good thanks! @RehabAbotalep

[2022-10-01 05:58] #230 closed

[2022-10-02 19:07] RehabAbotalep opened #255 "Create a Q/A on the Q&A platform for the demo: Structure Business Dimension in Portfolio Management."
Create a Q/A on the Q&A platform for the demo: Structure Business Dimension in Portfolio Management.

[2022-10-02 21:49] RehabAbotalep commented on #255
@MohamedRadwan-DevOps Your review, please.
http://devopsvisionsqa.mohamedradwan.com/?qa=584/steps-structure-business-dimension-portfolio-management&show=585#a585

[2022-10-03 03:16] #255 closed

[2022-10-04 08:30] RehabAbotalep commented on #251
@MohamedRadwan-DevOps Your final review, please.

[2022-10-04 08:39] #251 closed

[2022-10-04 13:42] #254 closed

[2022-10-09 23:12] RehabAbotalep opened #264 "Create a Q/A for the demo: Agile Planning and Portfolio Management with Azure Boards"
Create a Q/A for the demo: Agile Planning and Portfolio Management with Azure Boards

[2022-10-10 02:13] RehabAbotalep commented on #264
@MohamedRadwan-DevOps Your review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=591/what-steps-plan-agile-portfolio-management-with-azure-boards&show=592#a592

[2022-10-10 02:15] RehabAbotalep opened #265 "Create a Q/A for the demo: Assigning Who Do what and when in Portfolio Management"
Create a Q/A for the demo: Assigning Who Do what and when in Portfolio Management

[2022-10-10 02:36] RehabAbotalep commented on #265
@MohamedRadwan-DevOps Your review, plz.
http://devopsvisionsqa.mohamedradwan.com/?qa=593/what-are-the-steps-assign-who-what-when-portfolio-management&show=594#a594

[2022-10-10 02:37] #188 closed

[2022-10-10 12:06] AhalimZaki opened #266 "Review and improve Module 9 Demos"
Review and improve Module 9 Demos.

[2022-10-10 12:08] AhalimZaki commented on #266
Demo 1: Create a CD for API.
OK.
https://devopsvisionsqa.mohamedradwan.com/?qa=552/what-are-the-steps-to-create-cd-for-the-api-app

Demo 2: Create a CD for Parts-Unlimited.
Guidelines-Quality-Control.
https://devopsvisionsqa.mohamedradwan.com/?qa=461/what-are-the-steps-to-create-cd-for-parts-unlimited

Demo 3: Configure Azure Pipeline as a process for self-hosted and run UI tests.
OK.
https://devo

[2022-10-10 15:25] AhalimZaki opened #267 "Review and improve Module 10 Demos."
Review and improve Module 10 Demos.

[2022-10-10 15:25] AhalimZaki commented on #267
Module 10: Managing Configuration Management for Infrastructure and Database
Demo 1: Provision infrastructure (Web App and Azure SQL on Azure) using ARM and Azure Pipeline.
OK.
https://devopsvisionsqa.mohamedradwan.com/?qa=479/steps-provision-infrastructure-azure-azure-using-pipeline

Demo 2: Provision infrastructure (Web App on Azure) using Terraform and Azure Pipeline.
Guidelines-Quality-Control

[2022-10-10 15:40] RehabAbotalep commented on #267
@MohamedRadwan-DevOps I have reviewed them and will open the issue.
@AhalimZaki Thanks.

[2022-10-10 15:40] #267 closed

[2022-10-11 09:53] AhalimZaki opened #268 "Working with Docker in more details on Linux"
Create a Q/A for the demo: Working with docker in more details on Linux.

[2022-10-12 17:37] AhalimZaki opened #269 "Improve the Demos description for module (18)"
Improve module (18) demos description.

[2022-10-12 19:23] AhalimZaki commented on #268
[Demo Link]([What are the steps of working with docker in more detail on Linux?](http://devopsvisionsqa.mohamedradwan.com/?qa=595/what-are-the-steps-of-working-with-docker-in-more-detail-linux))

[2022-10-12 19:25] AhalimZaki opened #270 "More about Docker and how to use Docker compose"
Create a Q/A for the demo: More about Docker and how to use Docker compose.

[2022-10-13 17:21] AhalimZaki commented on #270
[Demo Link](http://devopsvisionsqa.mohamedradwan.com/?qa=603/what-are-the-steps-more-about-docker-and-how-use-docker-compose&show=604#a604)

[2022-10-14 09:36] MohamedRadwan-DevOps commented on #266
@RehabAbotalep @AhalimZaki
I look at the images and they are really bad.
I would appreciate it if you could recreate the images, please.
Thanks!

[2022-10-14 09:38] #265 closed

[2022-10-14 09:39] #264 closed

[2022-10-14 13:12] RehabAbotalep commented on #270
I have reviewed it, please your final review. @MohamedRadwan-DevOps

[2022-10-14 16:27] RehabAbotalep commented on #269
Reviewed, your review, please. @MohamedRadwan-DevOps

[2022-10-17 09:40] #270 closed

[2022-10-17 09:42] #269 closed

[2022-10-17 09:52] MohamedRadwan-DevOps commented on #268
@AhalimZaki very impressive 👌

[2022-10-17 09:52] #268 closed

[2022-10-20 09:40] #237 closed

[2022-10-26 10:31] RehabAbotalep opened #274 "Create a Q/A for the demo: Create dashboards"
Create a Q/A for the demo: About dashboards, charts, reports, & widgets.

[2022-10-26 10:37] RehabAbotalep opened #275 "Create a Q/A for the demo: Manage Agile software delivery plans across teams."
Create a Q/A for the demo: Manage Agile software delivery plans across teams.

[2022-10-26 13:33] RehabAbotalep commented on #266
@AhalimZaki Thanks so much.
@MohamedRadwan-DevOps Reviewed, your final review, plz.

[2022-10-31 17:27] MohamedRadwan-DevOps commented on #266
@AhalimZaki
Thank you! that's really better! I do appreciate it!

[2022-10-31 17:27] #266 closed

[2022-11-04 19:41] RehabAbotalep commented on #275
Your review, please. @MohamedRadwan-DevOps
http://devopsvisionsqa.mohamedradwan.com/?qa=625/what-steps-manage-agile-software-delivery-plans-across-teams&show=626#a626

[2022-11-04 19:44] RehabAbotalep opened #278 "Create a Q/A for the demo: Product and sprint planning"
Create a Q/A on the Q&A platform for the demo "Product and sprint planning".

[2022-11-07 15:10] MohamedRadwan-DevOps commented on #275
@RehabAbotalep perfect as usual 👌

[2022-11-07 15:10] #275 closed

[2022-11-11 23:27] RehabAbotalep commented on #278
Your review, please. @MohamedRadwan-DevOps
http://devopsvisionsqa.mohamedradwan.com/?qa=629/what-are-the-steps-to-perform-product-and-sprint-planning&show=630#a630

[2022-11-17 18:33] AhalimZaki opened #283 "Create a Q/A for the demo: Use git branch and merge"
Create a Q/A on Q&A platform for the demo: "Use git branch and merge"

[2022-11-17 19:00] #250 closed

[2022-11-18 19:30] RehabAbotalep opened #285 "Improve module (8) demos description."
Improve module (8) demos description.

[2022-11-21 10:39] RehabAbotalep opened #287 "Improve module (9) demos description."
Improve module (9) demos description

[2022-11-21 10:40] RehabAbotalep opened #288 "Improve module (10) demos description."
Improve module (10) demos description

[2022-11-22 08:48] #285 closed

[2022-11-22 09:02] MohamedRadwan-DevOps commented on #278
@RehabAbotalep Very good thank you!

[2022-11-22 09:02] #278 closed

[2022-11-22 11:56] AhalimZaki commented on #283
[Demo Link]((http://devopsvisionsqa.mohamedradwan.com/?qa=631/what-are-the-steps-to-use-git-branch-and-merge&show=634#a634))

[2022-11-23 10:04] RehabAbotalep commented on #283
@AhalimZaki Reviewed, thanks.
@MohamedRadwan-DevOps your final review, please.

[2022-11-23 10:26] RehabAbotalep opened #290 "Improve module (11) demos description."
Improve module (11) demos description.

[2022-11-29 14:09] #290 closed

[2022-11-29 14:10] MohamedRadwan-DevOps commented on #283
@AhalimZaki amazing work! 👌

[2022-11-29 14:11] #283 closed